sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 15:08:54 Dec 10, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:18:52 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 182.865
  exclusion.robots: 0.11
  exclusion.robots.policy: 0.098
  cdx.remote: 0.081
  esindex: 0.014
  LoadShardBlock: 64.437 (3)
  PetaboxLoader3.datanode: 71.625 (4)
  load_resource: 688.538
  PetaboxLoader3.resolve: 648.198
*/