@charset "utf-8";
/*!
 *	 Release:	R.3.11.5_HF_3
 *	 Revision:	19581
 *	 Date:		2013-11-15T00:27:47+01:00
 *	 Timestamp:	1384471667
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}
/*
     FILE ARCHIVED ON 08:41:49 Nov 22, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:59:23 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 233.371
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.061
  cdx.remote: 0.065
  esindex: 0.009
  LoadShardBlock: 194.765 (3)
  PetaboxLoader3.datanode: 85.177 (4)
  load_resource: 223.299
  PetaboxLoader3.resolve: 161.159
*/