.t-border-top-thick-brand{border-top:.3125rem solid transparent}.t-border-top-print-brand{border-top:1.125rem solid transparent}.t-border-bottom-thin-brand{border-bottom:.0625rem solid transparent}.t-color-brand{color:#fff}
/*
     FILE ARCHIVED ON 01:28:49 Apr 12, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:04:11 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 219.997
  exclusion.robots: 0.087
  exclusion.robots.policy: 0.076
  cdx.remote: 0.063
  esindex: 0.014
  LoadShardBlock: 137.532 (3)
  PetaboxLoader3.datanode: 114.247 (4)
  PetaboxLoader3.resolve: 79.175 (2)
  load_resource: 104.017
*/