div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 05:37:36 Sep 05, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:21:14 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 216.801
  exclusion.robots: 0.09
  exclusion.robots.policy: 0.079
  RedisCDXSource: 30.684
  esindex: 0.008
  LoadShardBlock: 163.04 (3)
  PetaboxLoader3.datanode: 255.022 (5)
  load_resource: 311.032 (2)
  PetaboxLoader3.resolve: 201.631 (2)
*/