/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 06:33:24 Jun 28, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:07:20 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.636
  exclusion.robots: 0.089
  exclusion.robots.policy: 0.078
  cdx.remote: 0.068
  esindex: 0.011
  LoadShardBlock: 69.656 (3)
  PetaboxLoader3.datanode: 98.215 (4)
  load_resource: 162.364
  PetaboxLoader3.resolve: 103.332
*/