/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 22:25:03 Nov 29, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:48:48 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 70.662
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.066
  RedisCDXSource: 0.649
  esindex: 0.007
  LoadShardBlock: 52.827 (3)
  PetaboxLoader3.datanode: 59.517 (4)
  load_resource: 109.784
  PetaboxLoader3.resolve: 59.329
*/