@charset "UTF-8";
/* CSS Styles for the Gaylord Hotels Experience Homepages V2.1 */

/*changed bottom to 120px for homepage updated version*/
.galleria-thumbnails-container {
	bottom:120px;
}

#SubContent {
	width: 942px;
	margin: auto;
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/homepage-bground-fade.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #FFF;
	text-align: left;
}

#SubContent ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#SubContent ul li {
	display: block;
	min-height:120px;
	padding-top:20px;
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/common/homepage-subfeature-bground-01.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#SubContent ul li img {
	float: left;
	margin-right: 20px;
}

#SubContent ul li div {
	margin-left: 213px;
}

#SubContent ul li div strong {
	font-size: 14px;
	color: #333;
	display: block;
	padding-bottom: 10px;
}

#SubContent ul li div p a {
	color: #0775cf;
	font-weight: bold;
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/link-arrow.png);
	background-position: left 3px;
	padding-left: 10px;
	text-decoration: none;
	background-repeat: no-repeat;
}

#exp_menu {
	bottom:26px;
}

#SubContent #featureBoxes {
	margin-bottom: 18px;
}


#featureBoxes {
    margin-bottom: 18px;
    margin-top: 18px;
}
#box-360 {
	width: 962px;
	margin-right: auto;
	margin-left: auto;
	height: 86px;
	display: block;
	clear:both;
}

#box-360 #walkthrough-360-brand-1, #box-360 #walkthrough-360-brand-2, #box-360 #walkthrough-360-brand-3, #box-360 #walkthrough-360-brand-4 {
	display: block;
	float: left;
	height: 86px;
	width: 240px;
	}
#box-360 #walkthrough-360-brand-1 {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	
}
#box-360 #walkthrough-360-brand-1:hover {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-position: left -344px;
}
#box-360 #walkthrough-360-brand-2 {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: -240px top;
	width: 241px;
}
.brand-2-alt  {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: -240px -86px;
	width: 241px;
}
#box-360 #walkthrough-360-brand-2:hover {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: -240px -258px;
	width: 241px;
}
#box-360 #walkthrough-360-brand-3 {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: -481px top;
	width: 241px;
}
.brand-3-alt  {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: -481px -86px;
	width: 241px;
}
#box-360 #walkthrough-360-brand-3:hover {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: -481px -172px;
	width: 241px;
}
#box-360 #walkthrough-360-brand-4 {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: -722px top;
}
#box-360 #walkthrough-360-brand-4:hover {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/brand/GH_360-walkthrough-wide_banner.jpg);
	background-repeat: no-repeat;
	background-position: -722px -86px;
}

#walkthrough-360-national {
	width: 962px;
	margin-right: auto;
	margin-left: auto;
	height: 86px;
	display: block;
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/national/GN_360-walkthrough-wide.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

#walkthrough-360-texan {
	width: 962px;
	margin-right: auto;
	margin-left: auto;
	height: 86px;
	display: block;
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/texan/GT_360-walkthrough-wide.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

#walkthrough-360-palms {
	width: 962px;
	margin-right: auto;
	margin-left: auto;
	height: 86px;
	display: block;
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/palms/GP_360-walkthrough-wide.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

#walkthrough-360-opryland {
	width: 962px;
	margin-right: auto;
	margin-left: auto;
	height: 86px;
	display: block;
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/opryland/GO_360-walkthrough-wide.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	clear:both;
}

#walkthrough-360-palms:hover, #walkthrough-360-texan:hover, #walkthrough-360-national:hover, #walkthrough-360-opryland:hover {
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/images/common/360-walkthrough-wide_over.png);
	background-repeat: no-repeat;
	background-position: center center;
}


#footer {
	background-image: none;
	height: inherit;
	padding: 0px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
#breadcrumbs-box {
	display: block;
	width: 962px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	background-color: #174D8C;
	height: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#breadcrumbs-box #search_box_homepage {
	display: block;
	float: right;
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-right: 10px;
}

#pkg-see-all {
	display: block;
	width: 942px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-image: url(/web/20121004170224im_/http://www.gaylordhotels.com/assets/global/images/site-files/bg-see-all-packages.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 50px;
	padding-top: 24px;
}

#pkg-see-all a:link, #pkg-see-all a:visited {
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #39F;
	letter-spacing: -0.02px;
}

#pkg-see-all a:hover {
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #66F;
}
/*
     FILE ARCHIVED ON 17:02:24 Oct 04, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:38:16 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 105.046
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.052
  cdx.remote: 0.054
  esindex: 0.009
  LoadShardBlock: 30.359 (3)
  PetaboxLoader3.datanode: 40.643 (4)
  load_resource: 68.826
  PetaboxLoader3.resolve: 39.938
*/