body {
voice-family: betty, female;
}
/*
     FILE ARCHIVED ON 22:47:59 May 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:16:30 Jul 12, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 326.518
  exclusion.robots: 0.071
  exclusion.robots.policy: 0.061
  cdx.remote: 0.054
  esindex: 0.009
  LoadShardBlock: 226.956 (3)
  PetaboxLoader3.datanode: 82.501 (4)
  load_resource: 154.65
  PetaboxLoader3.resolve: 122.873
*/