.handheld {
	display: block;
}
/*
     FILE ARCHIVED ON 22:49:15 May 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:16:30 Jul 12, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 126.83
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.072
  RedisCDXSource: 0.687
  esindex: 0.008
  LoadShardBlock: 58.811 (3)
  PetaboxLoader3.datanode: 72.439 (4)
  load_resource: 143.294
  PetaboxLoader3.resolve: 101.85
*/