sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 13:59:03 Jun 05, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:09:52 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 116.628
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.064
  RedisCDXSource: 0.895
  esindex: 0.008
  LoadShardBlock: 88.764 (3)
  PetaboxLoader3.datanode: 131.785 (4)
  load_resource: 246.615
  PetaboxLoader3.resolve: 68.027
*/