div#header { background:transparent url(/web/20060403010539im_/http://www.chevrolet.com/i/06/bg/header-blue.png) top center repeat-y; }
div#container { background:transparent url(/web/20060403010539im_/http://www.chevrolet.com/i/06/bg/curvetop-blue.png) top center no-repeat; }

/* Mac IE Hack \*/
* html div#container { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/curvetop-blue.png',sizingMethod='crop'); }
* html div#header { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/header-blue.png',sizingMethod='scale'); }
/* end hack */
/*
     FILE ARCHIVED ON 01:05:39 Apr 03, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:32:19 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 103.299
  exclusion.robots: 0.091
  exclusion.robots.policy: 0.077
  RedisCDXSource: 0.975
  esindex: 0.01
  LoadShardBlock: 77.888 (3)
  PetaboxLoader3.datanode: 52.772 (4)
  PetaboxLoader3.resolve: 1131.588 (2)
  load_resource: 1129.185
*/