
div#pForm{
	margin-left: 3px;
}

div#pForm{
	font-size: 11px;
}

p.instruction{
	font-size: 11px; font-family: verdana; color:#363636;
}

div#vehicleContainer #vehicleImage{
		padding-top: 3px;
}

/*
     FILE ARCHIVED ON 21:06:33 Jun 14, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:41:48 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 111.878
  exclusion.robots: 0.181
  exclusion.robots.policy: 0.167
  cdx.remote: 0.118
  esindex: 0.012
  LoadShardBlock: 76.26 (3)
  PetaboxLoader3.datanode: 90.309 (4)
  load_resource: 107.996
  PetaboxLoader3.resolve: 44.424
*/