div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 22:47:54 Apr 07, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:14:07 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1539.889
  exclusion.robots: 0.116
  exclusion.robots.policy: 0.104
  cdx.remote: 0.081
  esindex: 0.011
  LoadShardBlock: 1505.135 (3)
  PetaboxLoader3.resolve: 2263.479 (3)
  PetaboxLoader3.datanode: 588.601 (5)
  load_resource: 1407.993 (2)
*/