@charset "utf-8";
/*!
 *	 Release:	R.4.3.8
 *	 Revision:	21364
 *	 Date:		2014-03-20T18:37:01+01:00
 *	 Timestamp:	1395337021
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}
/*
     FILE ARCHIVED ON 22:47:20 Apr 07, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:14:04 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 157.534
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.064
  esindex: 0.009
  LoadShardBlock: 129.125 (3)
  PetaboxLoader3.datanode: 144.492 (4)
  load_resource: 302.848
  PetaboxLoader3.resolve: 269.397
*/