div#header { background:transparent url(/web/20061226215048im_/http://www.chevrolet.com/i/06/bg/header-blue.png) top center repeat-y; }
div#container { background:transparent url(/web/20061226215048im_/http://www.chevrolet.com/i/06/bg/curvetop-blue.png) top center no-repeat; }

/* Mac IE Hack \*/
* html div#container { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/curvetop-blue.png',sizingMethod='crop'); }
* html div#header { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/header-blue.png',sizingMethod='scale'); }
/* end hack */
/*
     FILE ARCHIVED ON 21:50:48 Dec 26, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:43:43 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 177.231
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.061
  RedisCDXSource: 1.09
  esindex: 0.007
  LoadShardBlock: 158.921 (3)
  PetaboxLoader3.datanode: 283.219 (4)
  load_resource: 180.285
  PetaboxLoader3.resolve: 52.072
*/