div#header { background:transparent url(/web/20070612210726im_/http://www.chevrolet.com/i/06/bg/header-blue.png) top center repeat-y; }
div#container { background:transparent url(/web/20070612210726im_/http://www.chevrolet.com/i/06/bg/curvetop-blue.png) top center no-repeat; }

/* Mac IE Hack \*/
* html div#container { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/curvetop-blue.png',sizingMethod='crop'); }
* html div#header { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/header-blue.png',sizingMethod='scale'); }
/* end hack */
/*
     FILE ARCHIVED ON 21:07:26 Jun 12, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:49:32 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 64.647
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.059
  RedisCDXSource: 3.733
  esindex: 0.007
  LoadShardBlock: 44.413 (3)
  PetaboxLoader3.datanode: 45.635 (4)
  load_resource: 137.174
  PetaboxLoader3.resolve: 84.562
*/