div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 11:36:12 Jun 20, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:42:06 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 204.95
  exclusion.robots: 0.114
  exclusion.robots.policy: 0.101
  RedisCDXSource: 0.686
  esindex: 0.009
  LoadShardBlock: 177.535 (3)
  PetaboxLoader3.resolve: 56.992 (2)
  PetaboxLoader3.datanode: 62.24 (4)
  load_resource: 95.988
*/