sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 03:10:50 Oct 24, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:39:27 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 81.067
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.068
  cdx.remote: 0.058
  esindex: 0.008
  LoadShardBlock: 54.53 (3)
  PetaboxLoader3.datanode: 136.998 (4)
  load_resource: 172.919
  PetaboxLoader3.resolve: 82.761
*/