/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 02:40:19 Mar 07, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:53:15 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 192.475
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.065
  RedisCDXSource: 0.537
  esindex: 0.008
  LoadShardBlock: 170.784 (3)
  PetaboxLoader3.datanode: 181.192 (5)
  PetaboxLoader3.resolve: 136.546 (3)
  load_resource: 230.09 (2)
*/