#find-panel .col-wrap{display:-ms-flexbox;display:flex}#find-panel .tile-rewards-panel-member-rates a{color:#134f8f;text-decoration:none;font-weight:400}#find-panel .tile-rewards-panel-member-rates a:link,#find-panel .tile-rewards-panel-member-rates a:visited{color:#134f8f;text-decoration:none}#find-panel .tile-rewards-panel-member-rates a:active,#find-panel .tile-rewards-panel-member-rates a:focus,#find-panel .tile-rewards-panel-member-rates a:hover{color:#134f8f;text-decoration:underline}@media (max-width:45em){.col-wrap .l-l-col-6{margin-top:.5em}}.tile-rewards-panel-member-rates{position:relative;margin:1.25rem .5rem;background-color:#f4f4f4;height:auto}.tile-rewards-panel-member-rates .rewards-panel-header{font-weight:600}.tile-rewards-panel-member-rates p{padding-bottom:.375rem}.tile-rewards-panel-member-rates .rewards-panel-container{box-sizing:border-box;min-height:9.875rem;padding:1.25rem}.tile-rewards-panel-member-rates .rewards-panel-header,.tile-rewards-panel-member-rates .rewards-panel-sub-header,.tile-rewards-panel-member-rates .t-see-details{line-height:1.125rem}.tile-rewards-panel-member-rates .rewards-panel-sub-header{color:#494949}.tile-rewards-panel-member-rates .book-direct-logo{position:absolute;bottom:1.125rem}@media (min-width:37.56rem){.tile-rewards-panel-member-rates{height:calc(100% - .5rem);margin:1.875rem .5rem}.tile-rewards-panel-member-rates .rewards-panel-container{min-height:7.688rem;padding:2rem 1.25rem 0}.tile-rewards-panel-member-rates .book-direct-logo{bottom:2.625rem;right:1.375rem}}@media (min-width:48.1rem){.tile-rewards-panel-member-rates{margin:0 .5rem .5rem .375rem}}
/*
     FILE ARCHIVED ON 19:15:31 Aug 07, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:53:03 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 243.567
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.065
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 170.44 (3)
  PetaboxLoader3.datanode: 215.056 (5)
  load_resource: 141.066 (2)
  PetaboxLoader3.resolve: 69.084 (2)
*/