div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 01:31:17 Jan 22, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:03:14 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 111.745
  exclusion.robots: 0.096
  exclusion.robots.policy: 0.086
  cdx.remote: 0.068
  esindex: 0.01
  LoadShardBlock: 77.611 (3)
  PetaboxLoader3.datanode: 189.703 (5)
  load_resource: 1883.727 (2)
  PetaboxLoader3.resolve: 1766.26 (2)
*/