sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 03:10:50 Oct 24, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:49:25 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 193.286
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.075
  cdx.remote: 0.065
  esindex: 0.01
  LoadShardBlock: 164.638 (3)
  PetaboxLoader3.datanode: 230.554 (4)
  load_resource: 151.069
  PetaboxLoader3.resolve: 75.71
*/