/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 18:31:42 Apr 10, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:54:19 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 106.977
  exclusion.robots: 0.107
  exclusion.robots.policy: 0.097
  RedisCDXSource: 0.773
  esindex: 0.013
  LoadShardBlock: 83.624 (3)
  PetaboxLoader3.datanode: 90.21 (5)
  PetaboxLoader3.resolve: 102.117 (4)
  load_resource: 142.519 (2)
*/