div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 23:02:09 Jun 23, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:14:00 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 154.097
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.066
  cdx.remote: 0.048
  esindex: 0.008
  LoadShardBlock: 116.271 (3)
  PetaboxLoader3.datanode: 99.373 (4)
  load_resource: 584.632
  PetaboxLoader3.resolve: 547.676
*/