@import '/web/20110131184926cs_/http://www.hunterfan.com/css/screen.css' screen;
@import '/web/20110131184926cs_/http://www.hunterfan.com/css/forms.css' screen;
@import '/web/20110131184926cs_/http://www.hunterfan.com/css/print.css' print;
@import '/web/20110131184926cs_/http://www.hunterfan.com/css/mobile.css' handheld; 
@import '/web/20110131184926cs_/http://www.hunterfan.com/css/mobile.css' only screen and (max-device-width:480px);
/*
     FILE ARCHIVED ON 18:49:26 Jan 31, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:59:45 Jul 17, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 136.73
  exclusion.robots: 0.112
  exclusion.robots.policy: 0.099
  RedisCDXSource: 0.752
  esindex: 0.01
  LoadShardBlock: 109.073 (3)
  PetaboxLoader3.datanode: 47.154 (4)
  PetaboxLoader3.resolve: 95.101 (3)
  load_resource: 38.614
*/