@charset "utf-8";
/*!
 *	 Release:	6.04.0.19 Segments 1-4 Rev.1336
 *	 Date:		2016-04-06T04:10:49+02:00
 *	 Timestamp:	1459908649
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}@media screen and (-webkit-min-device-pixel-ratio:0){.modTs_img_2{margin:16px 5px auto}}

/*
     FILE ARCHIVED ON 11:11:25 Apr 16, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:32:23 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 67.929
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.059
  RedisCDXSource: 0.86
  esindex: 0.008
  LoadShardBlock: 45.649 (3)
  PetaboxLoader3.datanode: 55.41 (4)
  load_resource: 54.827
  PetaboxLoader3.resolve: 29.081
*/