SUP
{
    FONT-SIZE: x-small;
    VERTICAL-ALIGN: super;
    TEXT-DECORATION: none
}
.menu
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 8pt;
    COLOR: #333366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.disclaimer
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.quote
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BODY
{
    FONT-SIZE: 6pc;
    COLOR: black;
    FONT-FAMILY: 'Times New Roman'
}

/*
     FILE ARCHIVED ON 22:50:57 Aug 04, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:29:53 May 05, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 95.789
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.069
  RedisCDXSource: 1.074
  esindex: 0.008
  LoadShardBlock: 76.401 (3)
  PetaboxLoader3.datanode: 206.563 (4)
  load_resource: 253.339
  PetaboxLoader3.resolve: 107.009
*/