
div#pForm{
	margin-left: 3px;
}

div#pForm{
	font-size: 11px;
}

p.instruction{
	font-size: 11px; font-family: verdana; color:#363636;
}

div#vehicleContainer #vehicleImage{
		padding-top: 3px;
}

/*
     FILE ARCHIVED ON 16:04:53 May 28, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:39:44 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 79.103
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.059
  cdx.remote: 0.058
  esindex: 0.008
  LoadShardBlock: 48.025 (3)
  PetaboxLoader3.datanode: 54.966 (4)
  load_resource: 89.172
  PetaboxLoader3.resolve: 53.437
*/