/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 16:05:25 May 28, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:40:54 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 352.561
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.059
  cdx.remote: 0.055
  esindex: 0.007
  LoadShardBlock: 316.059 (3)
  PetaboxLoader3.datanode: 323.309 (5)
  load_resource: 228.532 (2)
  PetaboxLoader3.resolve: 147.497 (2)
*/