body  { font-size: 11; color: #204015; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
p  { font-size: 11; color: #204015; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
a { text-decoration: none }
a:hover { color: #A4170E; text-decoration: underline }
a:link { color: #A4170E }
a:visited { color: #A4170E }
td  { font-size: 11; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
hr { border: 1px inset; color: #293818; }
li  { font-size: 11; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
h1 { font-weight: bold; color: #204015; font-size: 13; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
h2 { font-weight: bold; color: #EFEBD6; font-size: 13; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
h3 { color: #204015; font-size: 11; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
h4 { font-weight: bold; color: #204015; font-size: 11; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }

/*
     FILE ARCHIVED ON 17:27:31 Aug 03, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:35:16 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 114.75
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.06
  cdx.remote: 0.058
  esindex: 0.009
  LoadShardBlock: 64.357 (3)
  PetaboxLoader3.datanode: 93.904 (4)
  load_resource: 113.263
  PetaboxLoader3.resolve: 42.243
*/