.whitespace 			{	line-height: 20px}

/*
     FILE ARCHIVED ON 04:41:34 Mar 22, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:51:59 Jul 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 61.794
  exclusion.robots: 0.108
  exclusion.robots.policy: 0.086
  RedisCDXSource: 4.015
  esindex: 0.01
  LoadShardBlock: 35.034 (3)
  PetaboxLoader3.datanode: 48.692 (4)
  load_resource: 78.3
  PetaboxLoader3.resolve: 45.596
*/