div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 02:27:56 May 24, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:22:32 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 878.44
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.055
  cdx.remote: 0.052
  esindex: 0.008
  LoadShardBlock: 770.129 (3)
  PetaboxLoader3.datanode: 181.143 (5)
  PetaboxLoader3.resolve: 1572.017 (3)
  load_resource: 1097.491 (2)
*/