.elementor-kit-15{--e-global-color-primary:#603813;--e-global-color-secondary:#E3CFAE;--e-global-color-text:#FFFFFF;--e-global-color-accent:#E2A03D;--e-global-color-59cb8c1:#2F323F;--e-global-typography-primary-font-family:"Roboto";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Roboto";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Roboto";--e-global-typography-accent-font-weight:500;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-container{--container-max-width:1140px;}.elementor-widget:not(:last-child){margin-bottom:20px;}.elementor-element{--widgets-spacing:20px;}{}h1.entry-title{display:var(--page-title-display);}@media(max-width:1024px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-container{--container-max-width:1024px;}}@media(max-width:767px){.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-container{--container-max-width:767px;}}
/*
     FILE ARCHIVED ON 21:33:15 Aug 14, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:12:50 Jul 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 73.981
  exclusion.robots: 0.097
  exclusion.robots.policy: 0.085
  RedisCDXSource: 2.366
  esindex: 0.008
  LoadShardBlock: 51.968 (3)
  PetaboxLoader3.datanode: 132.469 (5)
  load_resource: 126.895
  PetaboxLoader3.resolve: 37.5
  loaddict: 23.903
*/