div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 00:48:41 Oct 28, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:53:37 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 104.427
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.063
  RedisCDXSource: 0.898
  esindex: 0.007
  LoadShardBlock: 76.344 (3)
  PetaboxLoader3.datanode: 179.501 (6)
  load_resource: 238.148
  PetaboxLoader3.resolve: 77.994
*/