@charset "utf-8";
/*!
 *	 Release:	R.3.10.6
 *	 Revision:	18819
 *	 Date:		2013-10-04T23:28:31+02:00
 *	 Timestamp:	1380922111
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}
/*
     FILE ARCHIVED ON 04:29:38 Oct 21, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:53:36 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 166.894
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.076
  cdx.remote: 0.066
  esindex: 0.009
  LoadShardBlock: 132.742 (3)
  PetaboxLoader3.datanode: 111.753 (6)
  load_resource: 85.941
  PetaboxLoader3.resolve: 49.761
*/