@charset "utf-8";
/*!
 *	 Release:	5.07.0.3 - Segments 1-4
 *	 Date:		2015-07-07T21:15:00+02:00
 *	 Timestamp:	1436296500
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}@media screen and (-webkit-min-device-pixel-ratio:0){.modTs_img_2{margin:16px 5px auto}}

/*
     FILE ARCHIVED ON 08:15:27 Jul 27, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:16:10 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 144.522
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.058
  cdx.remote: 0.053
  esindex: 0.008
  LoadShardBlock: 112.486 (3)
  PetaboxLoader3.datanode: 121.999 (5)
  load_resource: 1555.585 (2)
  PetaboxLoader3.resolve: 1498.915 (2)
*/