.q-primary-button.q-cc-b-msabcpink,
.q-secondary-button.q-cc-b-msabcpink,
.q-icon-stacked.q-cc-b-msabcpink,
.q-icon-stacked-secondary.q-cc-b-msabcpink,
.q-inline-icon.q-cc-b-msabcpink,
.q-inline-icon-secondary.q-cc-b-msabcpink,
.gb-primary-button.gb-cc-b-msabcpink,
.gb-secondary-button.gb-cc-b-msabcpink,
.gb-tertiary-button.gb-cc-b-msabcpink,
.gb-primary-button-stacked-icon.gb-cc-b-msabcpink,
.gb-secondary-button-stacked-icon.gb-cc-b-msabcpink,
.gb-tertiary-button-stacked-icon.gb-cc-b-msabcpink,
.gb-primary-button-inline-icon.gb-cc-b-msabcpink,
.gb-secondary-button-inline-icon.gb-cc-b-msabcpink,
.gb-tertiary-button-inline-icon.gb-cc-b-msabcpink {
    border-color: #e0457b !important;
}

.q-primary-button.q-cc-b-msabcpink:active,
.q-primary-button.q-cc-b-msabcpink:focus,
.q-primary-button.q-cc-b-msabcpink:hover,
.q-secondary-button.q-cc-b-msabcpink:active,
.q-secondary-button.q-cc-b-msabcpink:focus,
.q-secondary-button.q-cc-b-msabcpink:hover,
.gb-primary-button.gb-cc-b-msabcpink:active,
.gb-primary-button.gb-cc-b-msabcpink:hover,
.gb-primary-button.gb-cc-b-msabcpink:focus,
.gb-secondary-button.gb-cc-b-msabcpink:active,
.gb-secondary-button.gb-cc-b-msabcpink:hover,
.gb-secondary-button.gb-cc-b-msabcpink:focus,
.gb-tertiary-button.gb-cc-b-msabcpink:active,
.gb-tertiary-button.gb-cc-b-msabcpink:hover,
.gb-tertiary-button.gb-cc-b-msabcpink:focus {
    background-color: #e0457b !important;
}

.q-list-item.q-cc-b-msabcpink:active,
.q-list-item.q-cc-b-msabcpink:focus,
.q-list-item.q-cc-b-msabcpink:hover,
.gb-list-item-primary.gb-cc-b-msabcpink:active,
.gb-list-item-primary.gb-cc-b-msabcpink:focus,
.gb-list-item-primary.gb-cc-b-msabcpink:hover,
.gb-list-item-secondary.gb-cc-b-msabcpink:active,
.gb-list-item-secondary.gb-cc-b-msabcpink:focus,
.gb-list-item-secondary.gb-cc-b-msabcpink:hover,
.gb-list-item-tertiary.gb-cc-b-msabcpink:active,
.gb-list-item-tertiary.gb-cc-b-msabcpink:focus,
.gb-list-item-tertiary.gb-cc-b-msabcpink:hover,
.gb-list-item-inline-icon-primary.gb-cc-b-msabcpink:active,
.gb-list-item-inline-icon-primary.gb-cc-b-msabcpink:focus,
.gb-list-item-inline-icon-primary.gb-cc-b-msabcpink:hover,
.gb-list-item-inline-icon-secondary.gb-cc-b-msabcpink:active,
.gb-list-item-inline-icon-secondary.gb-cc-b-msabcpink:focus,
.gb-list-item-inline-icon-secondary.gb-cc-b-msabcpink:hover,
.gb-list-item-inline-icon-tertiary.gb-cc-b-msabcpink:active,
.gb-list-item-inline-icon-tertiary.gb-cc-b-msabcpink:focus,
.gb-list-item-inline-icon-tertiary.gb-cc-b-msabcpink:hover {
    border-left-color: #e0457b !important;
}

.q-icon-stacked.q-cc-b-msabcpink:active,
.q-icon-stacked.q-cc-b-msabcpink:focus,
.q-icon-stacked.q-cc-b-msabcpink:hover,
.q-icon-stacked-secondary.q-cc-b-msabcpink:active,
.q-icon-stacked-secondary.q-cc-b-msabcpink:focus,
.q-icon-stacked-secondary.q-cc-b-msabcpink:hover,
.q-inline-icon.q-cc-b-msabcpink:active,
.q-inline-icon.q-cc-b-msabcpink:focus,
.q-inline-icon.q-cc-b-msabcpink:hover,
.q-inline-icon-secondary.q-cc-b-msabcpink:active,
.q-inline-icon-secondary.q-cc-b-msabcpink:focus,
.q-inline-icon-secondary.q-cc-b-msabcpink:hover,
.gb-primary-button-stacked-icon.gb-cc-b-msabcpink:active,
.gb-primary-button-stacked-icon.gb-cc-b-msabcpink:focus,
.gb-primary-button-stacked-icon.gb-cc-b-msabcpink:hover,
.gb-secondary-button-stacked-icon.gb-cc-b-msabcpink:active,
.gb-secondary-button-stacked-icon.gb-cc-b-msabcpink:focus,
.gb-secondary-button-stacked-icon.gb-cc-b-msabcpink:hover,
.gb-tertiary-button-stacked-icon.gb-cc-b-msabcpink:active,
.gb-tertiary-button-stacked-icon.gb-cc-b-msabcpink:focus,
.gb-tertiary-button-stacked-icon.gb-cc-b-msabcpink:hover,
.gb-primary-button-inline-icon.gb-cc-b-msabcpink:active,
.gb-primary-button-inline-icon.gb-cc-b-msabcpink:focus,
.gb-primary-button-inline-icon.gb-cc-b-msabcpink:hover,
.gb-secondary-button-inline-icon.gb-cc-b-msabcpink:active,
.gb-secondary-button-inline-icon.gb-cc-b-msabcpink:focus,
.gb-secondary-button-inline-icon.gb-cc-b-msabcpink:hover,
.gb-tertiary-button-inline-icon.gb-cc-b-msabcpink:active,
.gb-tertiary-button-inline-icon.gb-cc-b-msabcpink:focus,
.gb-tertiary-button-inline-icon.gb-cc-b-msabcpink:hover {
    box-shadow: inset 0 0 0 2px #e0457b !important;
}
.q-primary-button.q-cc-b-retailgray,
.q-secondary-button.q-cc-b-retailgray,
.q-icon-stacked.q-cc-b-retailgray,
.q-icon-stacked-secondary.q-cc-b-retailgray,
.q-inline-icon.q-cc-b-retailgray,
.q-inline-icon-secondary.q-cc-b-retailgray,
.gb-primary-button.gb-cc-b-retailgray,
.gb-secondary-button.gb-cc-b-retailgray,
.gb-tertiary-button.gb-cc-b-retailgray,
.gb-primary-button-stacked-icon.gb-cc-b-retailgray,
.gb-secondary-button-stacked-icon.gb-cc-b-retailgray,
.gb-tertiary-button-stacked-icon.gb-cc-b-retailgray,
.gb-primary-button-inline-icon.gb-cc-b-retailgray,
.gb-secondary-button-inline-icon.gb-cc-b-retailgray,
.gb-tertiary-button-inline-icon.gb-cc-b-retailgray {
    border-color: #4a4d52 !important;
}

.q-primary-button.q-cc-b-retailgray:active,
.q-primary-button.q-cc-b-retailgray:focus,
.q-primary-button.q-cc-b-retailgray:hover,
.q-secondary-button.q-cc-b-retailgray:active,
.q-secondary-button.q-cc-b-retailgray:focus,
.q-secondary-button.q-cc-b-retailgray:hover,
.gb-primary-button.gb-cc-b-retailgray:active,
.gb-primary-button.gb-cc-b-retailgray:hover,
.gb-primary-button.gb-cc-b-retailgray:focus,
.gb-secondary-button.gb-cc-b-retailgray:active,
.gb-secondary-button.gb-cc-b-retailgray:hover,
.gb-secondary-button.gb-cc-b-retailgray:focus,
.gb-tertiary-button.gb-cc-b-retailgray:active,
.gb-tertiary-button.gb-cc-b-retailgray:hover,
.gb-tertiary-button.gb-cc-b-retailgray:focus {
    background-color: #4a4d52 !important;
}

.q-list-item.q-cc-b-retailgray:active,
.q-list-item.q-cc-b-retailgray:focus,
.q-list-item.q-cc-b-retailgray:hover,
.gb-list-item-primary.gb-cc-b-retailgray:active,
.gb-list-item-primary.gb-cc-b-retailgray:focus,
.gb-list-item-primary.gb-cc-b-retailgray:hover,
.gb-list-item-secondary.gb-cc-b-retailgray:active,
.gb-list-item-secondary.gb-cc-b-retailgray:focus,
.gb-list-item-secondary.gb-cc-b-retailgray:hover,
.gb-list-item-tertiary.gb-cc-b-retailgray:active,
.gb-list-item-tertiary.gb-cc-b-retailgray:focus,
.gb-list-item-tertiary.gb-cc-b-retailgray:hover,
.gb-list-item-inline-icon-primary.gb-cc-b-retailgray:active,
.gb-list-item-inline-icon-primary.gb-cc-b-retailgray:focus,
.gb-list-item-inline-icon-primary.gb-cc-b-retailgray:hover,
.gb-list-item-inline-icon-secondary.gb-cc-b-retailgray:active,
.gb-list-item-inline-icon-secondary.gb-cc-b-retailgray:focus,
.gb-list-item-inline-icon-secondary.gb-cc-b-retailgray:hover,
.gb-list-item-inline-icon-tertiary.gb-cc-b-retailgray:active,
.gb-list-item-inline-icon-tertiary.gb-cc-b-retailgray:focus,
.gb-list-item-inline-icon-tertiary.gb-cc-b-retailgray:hover {
    border-left-color: #4a4d52 !important;
}

.q-icon-stacked.q-cc-b-retailgray:active,
.q-icon-stacked.q-cc-b-retailgray:focus,
.q-icon-stacked.q-cc-b-retailgray:hover,
.q-icon-stacked-secondary.q-cc-b-retailgray:active,
.q-icon-stacked-secondary.q-cc-b-retailgray:focus,
.q-icon-stacked-secondary.q-cc-b-retailgray:hover,
.q-inline-icon.q-cc-b-retailgray:active,
.q-inline-icon.q-cc-b-retailgray:focus,
.q-inline-icon.q-cc-b-retailgray:hover,
.q-inline-icon-secondary.q-cc-b-retailgray:active,
.q-inline-icon-secondary.q-cc-b-retailgray:focus,
.q-inline-icon-secondary.q-cc-b-retailgray:hover,
.gb-primary-button-stacked-icon.gb-cc-b-retailgray:active,
.gb-primary-button-stacked-icon.gb-cc-b-retailgray:focus,
.gb-primary-button-stacked-icon.gb-cc-b-retailgray:hover,
.gb-secondary-button-stacked-icon.gb-cc-b-retailgray:active,
.gb-secondary-button-stacked-icon.gb-cc-b-retailgray:focus,
.gb-secondary-button-stacked-icon.gb-cc-b-retailgray:hover,
.gb-tertiary-button-stacked-icon.gb-cc-b-retailgray:active,
.gb-tertiary-button-stacked-icon.gb-cc-b-retailgray:focus,
.gb-tertiary-button-stacked-icon.gb-cc-b-retailgray:hover,
.gb-primary-button-inline-icon.gb-cc-b-retailgray:active,
.gb-primary-button-inline-icon.gb-cc-b-retailgray:focus,
.gb-primary-button-inline-icon.gb-cc-b-retailgray:hover,
.gb-secondary-button-inline-icon.gb-cc-b-retailgray:active,
.gb-secondary-button-inline-icon.gb-cc-b-retailgray:focus,
.gb-secondary-button-inline-icon.gb-cc-b-retailgray:hover,
.gb-tertiary-button-inline-icon.gb-cc-b-retailgray:active,
.gb-tertiary-button-inline-icon.gb-cc-b-retailgray:focus,
.gb-tertiary-button-inline-icon.gb-cc-b-retailgray:hover {
    box-shadow: inset 0 0 0 2px #4a4d52 !important;
}
.q-primary-button.q-cc-b-gray,
.q-secondary-button.q-cc-b-gray,
.q-icon-stacked.q-cc-b-gray,
.q-icon-stacked-secondary.q-cc-b-gray,
.q-inline-icon.q-cc-b-gray,
.q-inline-icon-secondary.q-cc-b-gray,
.gb-primary-button.gb-cc-b-gray,
.gb-secondary-button.gb-cc-b-gray,
.gb-tertiary-button.gb-cc-b-gray,
.gb-primary-button-stacked-icon.gb-cc-b-gray,
.gb-secondary-button-stacked-icon.gb-cc-b-gray,
.gb-tertiary-button-stacked-icon.gb-cc-b-gray,
.gb-primary-button-inline-icon.gb-cc-b-gray,
.gb-secondary-button-inline-icon.gb-cc-b-gray,
.gb-tertiary-button-inline-icon.gb-cc-b-gray {
    border-color: #e6e6e6 !important;
}

.q-primary-button.q-cc-b-gray:active,
.q-primary-button.q-cc-b-gray:focus,
.q-primary-button.q-cc-b-gray:hover,
.q-secondary-button.q-cc-b-gray:active,
.q-secondary-button.q-cc-b-gray:focus,
.q-secondary-button.q-cc-b-gray:hover,
.gb-primary-button.gb-cc-b-gray:active,
.gb-primary-button.gb-cc-b-gray:hover,
.gb-primary-button.gb-cc-b-gray:focus,
.gb-secondary-button.gb-cc-b-gray:active,
.gb-secondary-button.gb-cc-b-gray:hover,
.gb-secondary-button.gb-cc-b-gray:focus,
.gb-tertiary-button.gb-cc-b-gray:active,
.gb-tertiary-button.gb-cc-b-gray:hover,
.gb-tertiary-button.gb-cc-b-gray:focus {
    background-color: #e6e6e6 !important;
}

.q-list-item.q-cc-b-gray:active,
.q-list-item.q-cc-b-gray:focus,
.q-list-item.q-cc-b-gray:hover,
.gb-list-item-primary.gb-cc-b-gray:active,
.gb-list-item-primary.gb-cc-b-gray:focus,
.gb-list-item-primary.gb-cc-b-gray:hover,
.gb-list-item-secondary.gb-cc-b-gray:active,
.gb-list-item-secondary.gb-cc-b-gray:focus,
.gb-list-item-secondary.gb-cc-b-gray:hover,
.gb-list-item-tertiary.gb-cc-b-gray:active,
.gb-list-item-tertiary.gb-cc-b-gray:focus,
.gb-list-item-tertiary.gb-cc-b-gray:hover,
.gb-list-item-inline-icon-primary.gb-cc-b-gray:active,
.gb-list-item-inline-icon-primary.gb-cc-b-gray:focus,
.gb-list-item-inline-icon-primary.gb-cc-b-gray:hover,
.gb-list-item-inline-icon-secondary.gb-cc-b-gray:active,
.gb-list-item-inline-icon-secondary.gb-cc-b-gray:focus,
.gb-list-item-inline-icon-secondary.gb-cc-b-gray:hover,
.gb-list-item-inline-icon-tertiary.gb-cc-b-gray:active,
.gb-list-item-inline-icon-tertiary.gb-cc-b-gray:focus,
.gb-list-item-inline-icon-tertiary.gb-cc-b-gray:hover {
    border-left-color: #e6e6e6 !important;
}

.q-icon-stacked.q-cc-b-gray:active,
.q-icon-stacked.q-cc-b-gray:focus,
.q-icon-stacked.q-cc-b-gray:hover,
.q-icon-stacked-secondary.q-cc-b-gray:active,
.q-icon-stacked-secondary.q-cc-b-gray:focus,
.q-icon-stacked-secondary.q-cc-b-gray:hover,
.q-inline-icon.q-cc-b-gray:active,
.q-inline-icon.q-cc-b-gray:focus,
.q-inline-icon.q-cc-b-gray:hover,
.q-inline-icon-secondary.q-cc-b-gray:active,
.q-inline-icon-secondary.q-cc-b-gray:focus,
.q-inline-icon-secondary.q-cc-b-gray:hover,
.gb-primary-button-stacked-icon.gb-cc-b-gray:active,
.gb-primary-button-stacked-icon.gb-cc-b-gray:focus,
.gb-primary-button-stacked-icon.gb-cc-b-gray:hover,
.gb-secondary-button-stacked-icon.gb-cc-b-gray:active,
.gb-secondary-button-stacked-icon.gb-cc-b-gray:focus,
.gb-secondary-button-stacked-icon.gb-cc-b-gray:hover,
.gb-tertiary-button-stacked-icon.gb-cc-b-gray:active,
.gb-tertiary-button-stacked-icon.gb-cc-b-gray:focus,
.gb-tertiary-button-stacked-icon.gb-cc-b-gray:hover,
.gb-primary-button-inline-icon.gb-cc-b-gray:active,
.gb-primary-button-inline-icon.gb-cc-b-gray:focus,
.gb-primary-button-inline-icon.gb-cc-b-gray:hover,
.gb-secondary-button-inline-icon.gb-cc-b-gray:active,
.gb-secondary-button-inline-icon.gb-cc-b-gray:focus,
.gb-secondary-button-inline-icon.gb-cc-b-gray:hover,
.gb-tertiary-button-inline-icon.gb-cc-b-gray:active,
.gb-tertiary-button-inline-icon.gb-cc-b-gray:focus,
.gb-tertiary-button-inline-icon.gb-cc-b-gray:hover {
    box-shadow: inset 0 0 0 2px #e6e6e6 !important;
}
.q-primary-button.q-cc-b-mastheadgray,
.q-secondary-button.q-cc-b-mastheadgray,
.q-icon-stacked.q-cc-b-mastheadgray,
.q-icon-stacked-secondary.q-cc-b-mastheadgray,
.q-inline-icon.q-cc-b-mastheadgray,
.q-inline-icon-secondary.q-cc-b-mastheadgray,
.gb-primary-button.gb-cc-b-mastheadgray,
.gb-secondary-button.gb-cc-b-mastheadgray,
.gb-tertiary-button.gb-cc-b-mastheadgray,
.gb-primary-button-stacked-icon.gb-cc-b-mastheadgray,
.gb-secondary-button-stacked-icon.gb-cc-b-mastheadgray,
.gb-tertiary-button-stacked-icon.gb-cc-b-mastheadgray,
.gb-primary-button-inline-icon.gb-cc-b-mastheadgray,
.gb-secondary-button-inline-icon.gb-cc-b-mastheadgray,
.gb-tertiary-button-inline-icon.gb-cc-b-mastheadgray {
    border-color: #262626 !important;
}

.q-primary-button.q-cc-b-mastheadgray:active,
.q-primary-button.q-cc-b-mastheadgray:focus,
.q-primary-button.q-cc-b-mastheadgray:hover,
.q-secondary-button.q-cc-b-mastheadgray:active,
.q-secondary-button.q-cc-b-mastheadgray:focus,
.q-secondary-button.q-cc-b-mastheadgray:hover,
.gb-primary-button.gb-cc-b-mastheadgray:active,
.gb-primary-button.gb-cc-b-mastheadgray:hover,
.gb-primary-button.gb-cc-b-mastheadgray:focus,
.gb-secondary-button.gb-cc-b-mastheadgray:active,
.gb-secondary-button.gb-cc-b-mastheadgray:hover,
.gb-secondary-button.gb-cc-b-mastheadgray:focus,
.gb-tertiary-button.gb-cc-b-mastheadgray:active,
.gb-tertiary-button.gb-cc-b-mastheadgray:hover,
.gb-tertiary-button.gb-cc-b-mastheadgray:focus {
    background-color: #262626 !important;
}

.q-list-item.q-cc-b-mastheadgray:active,
.q-list-item.q-cc-b-mastheadgray:focus,
.q-list-item.q-cc-b-mastheadgray:hover,
.gb-list-item-primary.gb-cc-b-mastheadgray:active,
.gb-list-item-primary.gb-cc-b-mastheadgray:focus,
.gb-list-item-primary.gb-cc-b-mastheadgray:hover,
.gb-list-item-secondary.gb-cc-b-mastheadgray:active,
.gb-list-item-secondary.gb-cc-b-mastheadgray:focus,
.gb-list-item-secondary.gb-cc-b-mastheadgray:hover,
.gb-list-item-tertiary.gb-cc-b-mastheadgray:active,
.gb-list-item-tertiary.gb-cc-b-mastheadgray:focus,
.gb-list-item-tertiary.gb-cc-b-mastheadgray:hover,
.gb-list-item-inline-icon-primary.gb-cc-b-mastheadgray:active,
.gb-list-item-inline-icon-primary.gb-cc-b-mastheadgray:focus,
.gb-list-item-inline-icon-primary.gb-cc-b-mastheadgray:hover,
.gb-list-item-inline-icon-secondary.gb-cc-b-mastheadgray:active,
.gb-list-item-inline-icon-secondary.gb-cc-b-mastheadgray:focus,
.gb-list-item-inline-icon-secondary.gb-cc-b-mastheadgray:hover,
.gb-list-item-inline-icon-tertiary.gb-cc-b-mastheadgray:active,
.gb-list-item-inline-icon-tertiary.gb-cc-b-mastheadgray:focus,
.gb-list-item-inline-icon-tertiary.gb-cc-b-mastheadgray:hover {
    border-left-color: #262626 !important;
}

.q-icon-stacked.q-cc-b-mastheadgray:active,
.q-icon-stacked.q-cc-b-mastheadgray:focus,
.q-icon-stacked.q-cc-b-mastheadgray:hover,
.q-icon-stacked-secondary.q-cc-b-mastheadgray:active,
.q-icon-stacked-secondary.q-cc-b-mastheadgray:focus,
.q-icon-stacked-secondary.q-cc-b-mastheadgray:hover,
.q-inline-icon.q-cc-b-mastheadgray:active,
.q-inline-icon.q-cc-b-mastheadgray:focus,
.q-inline-icon.q-cc-b-mastheadgray:hover,
.q-inline-icon-secondary.q-cc-b-mastheadgray:active,
.q-inline-icon-secondary.q-cc-b-mastheadgray:focus,
.q-inline-icon-secondary.q-cc-b-mastheadgray:hover,
.gb-primary-button-stacked-icon.gb-cc-b-mastheadgray:active,
.gb-primary-button-stacked-icon.gb-cc-b-mastheadgray:focus,
.gb-primary-button-stacked-icon.gb-cc-b-mastheadgray:hover,
.gb-secondary-button-stacked-icon.gb-cc-b-mastheadgray:active,
.gb-secondary-button-stacked-icon.gb-cc-b-mastheadgray:focus,
.gb-secondary-button-stacked-icon.gb-cc-b-mastheadgray:hover,
.gb-tertiary-button-stacked-icon.gb-cc-b-mastheadgray:active,
.gb-tertiary-button-stacked-icon.gb-cc-b-mastheadgray:focus,
.gb-tertiary-button-stacked-icon.gb-cc-b-mastheadgray:hover,
.gb-primary-button-inline-icon.gb-cc-b-mastheadgray:active,
.gb-primary-button-inline-icon.gb-cc-b-mastheadgray:focus,
.gb-primary-button-inline-icon.gb-cc-b-mastheadgray:hover,
.gb-secondary-button-inline-icon.gb-cc-b-mastheadgray:active,
.gb-secondary-button-inline-icon.gb-cc-b-mastheadgray:focus,
.gb-secondary-button-inline-icon.gb-cc-b-mastheadgray:hover,
.gb-tertiary-button-inline-icon.gb-cc-b-mastheadgray:active,
.gb-tertiary-button-inline-icon.gb-cc-b-mastheadgray:focus,
.gb-tertiary-button-inline-icon.gb-cc-b-mastheadgray:hover {
    box-shadow: inset 0 0 0 2px #262626 !important;
}
.q-primary-button.q-cc-b-redtag,
.q-secondary-button.q-cc-b-redtag,
.q-icon-stacked.q-cc-b-redtag,
.q-icon-stacked-secondary.q-cc-b-redtag,
.q-inline-icon.q-cc-b-redtag,
.q-inline-icon-secondary.q-cc-b-redtag,
.gb-primary-button.gb-cc-b-redtag,
.gb-secondary-button.gb-cc-b-redtag,
.gb-tertiary-button.gb-cc-b-redtag,
.gb-primary-button-stacked-icon.gb-cc-b-redtag,
.gb-secondary-button-stacked-icon.gb-cc-b-redtag,
.gb-tertiary-button-stacked-icon.gb-cc-b-redtag,
.gb-primary-button-inline-icon.gb-cc-b-redtag,
.gb-secondary-button-inline-icon.gb-cc-b-redtag,
.gb-tertiary-button-inline-icon.gb-cc-b-redtag {
    border-color: #ed2024 !important;
}

.q-primary-button.q-cc-b-redtag:active,
.q-primary-button.q-cc-b-redtag:focus,
.q-primary-button.q-cc-b-redtag:hover,
.q-secondary-button.q-cc-b-redtag:active,
.q-secondary-button.q-cc-b-redtag:focus,
.q-secondary-button.q-cc-b-redtag:hover,
.gb-primary-button.gb-cc-b-redtag:active,
.gb-primary-button.gb-cc-b-redtag:hover,
.gb-primary-button.gb-cc-b-redtag:focus,
.gb-secondary-button.gb-cc-b-redtag:active,
.gb-secondary-button.gb-cc-b-redtag:hover,
.gb-secondary-button.gb-cc-b-redtag:focus,
.gb-tertiary-button.gb-cc-b-redtag:active,
.gb-tertiary-button.gb-cc-b-redtag:hover,
.gb-tertiary-button.gb-cc-b-redtag:focus {
    background-color: #ed2024 !important;
}

.q-list-item.q-cc-b-redtag:active,
.q-list-item.q-cc-b-redtag:focus,
.q-list-item.q-cc-b-redtag:hover,
.gb-list-item-primary.gb-cc-b-redtag:active,
.gb-list-item-primary.gb-cc-b-redtag:focus,
.gb-list-item-primary.gb-cc-b-redtag:hover,
.gb-list-item-secondary.gb-cc-b-redtag:active,
.gb-list-item-secondary.gb-cc-b-redtag:focus,
.gb-list-item-secondary.gb-cc-b-redtag:hover,
.gb-list-item-tertiary.gb-cc-b-redtag:active,
.gb-list-item-tertiary.gb-cc-b-redtag:focus,
.gb-list-item-tertiary.gb-cc-b-redtag:hover,
.gb-list-item-inline-icon-primary.gb-cc-b-redtag:active,
.gb-list-item-inline-icon-primary.gb-cc-b-redtag:focus,
.gb-list-item-inline-icon-primary.gb-cc-b-redtag:hover,
.gb-list-item-inline-icon-secondary.gb-cc-b-redtag:active,
.gb-list-item-inline-icon-secondary.gb-cc-b-redtag:focus,
.gb-list-item-inline-icon-secondary.gb-cc-b-redtag:hover,
.gb-list-item-inline-icon-tertiary.gb-cc-b-redtag:active,
.gb-list-item-inline-icon-tertiary.gb-cc-b-redtag:focus,
.gb-list-item-inline-icon-tertiary.gb-cc-b-redtag:hover {
    border-left-color: #ed2024 !important;
}

.q-icon-stacked.q-cc-b-redtag:active,
.q-icon-stacked.q-cc-b-redtag:focus,
.q-icon-stacked.q-cc-b-redtag:hover,
.q-icon-stacked-secondary.q-cc-b-redtag:active,
.q-icon-stacked-secondary.q-cc-b-redtag:focus,
.q-icon-stacked-secondary.q-cc-b-redtag:hover,
.q-inline-icon.q-cc-b-redtag:active,
.q-inline-icon.q-cc-b-redtag:focus,
.q-inline-icon.q-cc-b-redtag:hover,
.q-inline-icon-secondary.q-cc-b-redtag:active,
.q-inline-icon-secondary.q-cc-b-redtag:focus,
.q-inline-icon-secondary.q-cc-b-redtag:hover,
.gb-primary-button-stacked-icon.gb-cc-b-redtag:active,
.gb-primary-button-stacked-icon.gb-cc-b-redtag:focus,
.gb-primary-button-stacked-icon.gb-cc-b-redtag:hover,
.gb-secondary-button-stacked-icon.gb-cc-b-redtag:active,
.gb-secondary-button-stacked-icon.gb-cc-b-redtag:focus,
.gb-secondary-button-stacked-icon.gb-cc-b-redtag:hover,
.gb-tertiary-button-stacked-icon.gb-cc-b-redtag:active,
.gb-tertiary-button-stacked-icon.gb-cc-b-redtag:focus,
.gb-tertiary-button-stacked-icon.gb-cc-b-redtag:hover,
.gb-primary-button-inline-icon.gb-cc-b-redtag:active,
.gb-primary-button-inline-icon.gb-cc-b-redtag:focus,
.gb-primary-button-inline-icon.gb-cc-b-redtag:hover,
.gb-secondary-button-inline-icon.gb-cc-b-redtag:active,
.gb-secondary-button-inline-icon.gb-cc-b-redtag:focus,
.gb-secondary-button-inline-icon.gb-cc-b-redtag:hover,
.gb-tertiary-button-inline-icon.gb-cc-b-redtag:active,
.gb-tertiary-button-inline-icon.gb-cc-b-redtag:focus,
.gb-tertiary-button-inline-icon.gb-cc-b-redtag:hover {
    box-shadow: inset 0 0 0 2px #ed2024 !important;
}
.q-primary-button.q-cc-b-chevyelectricblue,
.q-secondary-button.q-cc-b-chevyelectricblue,
.q-icon-stacked.q-cc-b-chevyelectricblue,
.q-icon-stacked-secondary.q-cc-b-chevyelectricblue,
.q-inline-icon.q-cc-b-chevyelectricblue,
.q-inline-icon-secondary.q-cc-b-chevyelectricblue,
.gb-primary-button.gb-cc-b-chevyelectricblue,
.gb-secondary-button.gb-cc-b-chevyelectricblue,
.gb-tertiary-button.gb-cc-b-chevyelectricblue,
.gb-primary-button-stacked-icon.gb-cc-b-chevyelectricblue,
.gb-secondary-button-stacked-icon.gb-cc-b-chevyelectricblue,
.gb-tertiary-button-stacked-icon.gb-cc-b-chevyelectricblue,
.gb-primary-button-inline-icon.gb-cc-b-chevyelectricblue,
.gb-secondary-button-inline-icon.gb-cc-b-chevyelectricblue,
.gb-tertiary-button-inline-icon.gb-cc-b-chevyelectricblue {
    border-color: #0058b3 !important;
}

.q-primary-button.q-cc-b-chevyelectricblue:active,
.q-primary-button.q-cc-b-chevyelectricblue:focus,
.q-primary-button.q-cc-b-chevyelectricblue:hover,
.q-secondary-button.q-cc-b-chevyelectricblue:active,
.q-secondary-button.q-cc-b-chevyelectricblue:focus,
.q-secondary-button.q-cc-b-chevyelectricblue:hover,
.gb-primary-button.gb-cc-b-chevyelectricblue:active,
.gb-primary-button.gb-cc-b-chevyelectricblue:hover,
.gb-primary-button.gb-cc-b-chevyelectricblue:focus,
.gb-secondary-button.gb-cc-b-chevyelectricblue:active,
.gb-secondary-button.gb-cc-b-chevyelectricblue:hover,
.gb-secondary-button.gb-cc-b-chevyelectricblue:focus,
.gb-tertiary-button.gb-cc-b-chevyelectricblue:active,
.gb-tertiary-button.gb-cc-b-chevyelectricblue:hover,
.gb-tertiary-button.gb-cc-b-chevyelectricblue:focus {
    background-color: #0058b3 !important;
}

.q-list-item.q-cc-b-chevyelectricblue:active,
.q-list-item.q-cc-b-chevyelectricblue:focus,
.q-list-item.q-cc-b-chevyelectricblue:hover,
.gb-list-item-primary.gb-cc-b-chevyelectricblue:active,
.gb-list-item-primary.gb-cc-b-chevyelectricblue:focus,
.gb-list-item-primary.gb-cc-b-chevyelectricblue:hover,
.gb-list-item-secondary.gb-cc-b-chevyelectricblue:active,
.gb-list-item-secondary.gb-cc-b-chevyelectricblue:focus,
.gb-list-item-secondary.gb-cc-b-chevyelectricblue:hover,
.gb-list-item-tertiary.gb-cc-b-chevyelectricblue:active,
.gb-list-item-tertiary.gb-cc-b-chevyelectricblue:focus,
.gb-list-item-tertiary.gb-cc-b-chevyelectricblue:hover,
.gb-list-item-inline-icon-primary.gb-cc-b-chevyelectricblue:active,
.gb-list-item-inline-icon-primary.gb-cc-b-chevyelectricblue:focus,
.gb-list-item-inline-icon-primary.gb-cc-b-chevyelectricblue:hover,
.gb-list-item-inline-icon-secondary.gb-cc-b-chevyelectricblue:active,
.gb-list-item-inline-icon-secondary.gb-cc-b-chevyelectricblue:focus,
.gb-list-item-inline-icon-secondary.gb-cc-b-chevyelectricblue:hover,
.gb-list-item-inline-icon-tertiary.gb-cc-b-chevyelectricblue:active,
.gb-list-item-inline-icon-tertiary.gb-cc-b-chevyelectricblue:focus,
.gb-list-item-inline-icon-tertiary.gb-cc-b-chevyelectricblue:hover {
    border-left-color: #0058b3 !important;
}

.q-icon-stacked.q-cc-b-chevyelectricblue:active,
.q-icon-stacked.q-cc-b-chevyelectricblue:focus,
.q-icon-stacked.q-cc-b-chevyelectricblue:hover,
.q-icon-stacked-secondary.q-cc-b-chevyelectricblue:active,
.q-icon-stacked-secondary.q-cc-b-chevyelectricblue:focus,
.q-icon-stacked-secondary.q-cc-b-chevyelectricblue:hover,
.q-inline-icon.q-cc-b-chevyelectricblue:active,
.q-inline-icon.q-cc-b-chevyelectricblue:focus,
.q-inline-icon.q-cc-b-chevyelectricblue:hover,
.q-inline-icon-secondary.q-cc-b-chevyelectricblue:active,
.q-inline-icon-secondary.q-cc-b-chevyelectricblue:focus,
.q-inline-icon-secondary.q-cc-b-chevyelectricblue:hover,
.gb-primary-button-stacked-icon.gb-cc-b-chevyelectricblue:active,
.gb-primary-button-stacked-icon.gb-cc-b-chevyelectricblue:focus,
.gb-primary-button-stacked-icon.gb-cc-b-chevyelectricblue:hover,
.gb-secondary-button-stacked-icon.gb-cc-b-chevyelectricblue:active,
.gb-secondary-button-stacked-icon.gb-cc-b-chevyelectricblue:focus,
.gb-secondary-button-stacked-icon.gb-cc-b-chevyelectricblue:hover,
.gb-tertiary-button-stacked-icon.gb-cc-b-chevyelectricblue:active,
.gb-tertiary-button-stacked-icon.gb-cc-b-chevyelectricblue:focus,
.gb-tertiary-button-stacked-icon.gb-cc-b-chevyelectricblue:hover,
.gb-primary-button-inline-icon.gb-cc-b-chevyelectricblue:active,
.gb-primary-button-inline-icon.gb-cc-b-chevyelectricblue:focus,
.gb-primary-button-inline-icon.gb-cc-b-chevyelectricblue:hover,
.gb-secondary-button-inline-icon.gb-cc-b-chevyelectricblue:active,
.gb-secondary-button-inline-icon.gb-cc-b-chevyelectricblue:focus,
.gb-secondary-button-inline-icon.gb-cc-b-chevyelectricblue:hover,
.gb-tertiary-button-inline-icon.gb-cc-b-chevyelectricblue:active,
.gb-tertiary-button-inline-icon.gb-cc-b-chevyelectricblue:focus,
.gb-tertiary-button-inline-icon.gb-cc-b-chevyelectricblue:hover {
    box-shadow: inset 0 0 0 2px #0058b3 !important;
}
.q-primary-button.q-cc-b-evbuttonlabel,
.q-secondary-button.q-cc-b-evbuttonlabel,
.q-icon-stacked.q-cc-b-evbuttonlabel,
.q-icon-stacked-secondary.q-cc-b-evbuttonlabel,
.q-inline-icon.q-cc-b-evbuttonlabel,
.q-inline-icon-secondary.q-cc-b-evbuttonlabel,
.gb-primary-button.gb-cc-b-evbuttonlabel,
.gb-secondary-button.gb-cc-b-evbuttonlabel,
.gb-tertiary-button.gb-cc-b-evbuttonlabel,
.gb-primary-button-stacked-icon.gb-cc-b-evbuttonlabel,
.gb-secondary-button-stacked-icon.gb-cc-b-evbuttonlabel,
.gb-tertiary-button-stacked-icon.gb-cc-b-evbuttonlabel,
.gb-primary-button-inline-icon.gb-cc-b-evbuttonlabel,
.gb-secondary-button-inline-icon.gb-cc-b-evbuttonlabel,
.gb-tertiary-button-inline-icon.gb-cc-b-evbuttonlabel {
    border-color: #3078bf !important;
}

.q-primary-button.q-cc-b-evbuttonlabel:active,
.q-primary-button.q-cc-b-evbuttonlabel:focus,
.q-primary-button.q-cc-b-evbuttonlabel:hover,
.q-secondary-button.q-cc-b-evbuttonlabel:active,
.q-secondary-button.q-cc-b-evbuttonlabel:focus,
.q-secondary-button.q-cc-b-evbuttonlabel:hover,
.gb-primary-button.gb-cc-b-evbuttonlabel:active,
.gb-primary-button.gb-cc-b-evbuttonlabel:hover,
.gb-primary-button.gb-cc-b-evbuttonlabel:focus,
.gb-secondary-button.gb-cc-b-evbuttonlabel:active,
.gb-secondary-button.gb-cc-b-evbuttonlabel:hover,
.gb-secondary-button.gb-cc-b-evbuttonlabel:focus,
.gb-tertiary-button.gb-cc-b-evbuttonlabel:active,
.gb-tertiary-button.gb-cc-b-evbuttonlabel:hover,
.gb-tertiary-button.gb-cc-b-evbuttonlabel:focus {
    background-color: #3078bf !important;
}

.q-list-item.q-cc-b-evbuttonlabel:active,
.q-list-item.q-cc-b-evbuttonlabel:focus,
.q-list-item.q-cc-b-evbuttonlabel:hover,
.gb-list-item-primary.gb-cc-b-evbuttonlabel:active,
.gb-list-item-primary.gb-cc-b-evbuttonlabel:focus,
.gb-list-item-primary.gb-cc-b-evbuttonlabel:hover,
.gb-list-item-secondary.gb-cc-b-evbuttonlabel:active,
.gb-list-item-secondary.gb-cc-b-evbuttonlabel:focus,
.gb-list-item-secondary.gb-cc-b-evbuttonlabel:hover,
.gb-list-item-tertiary.gb-cc-b-evbuttonlabel:active,
.gb-list-item-tertiary.gb-cc-b-evbuttonlabel:focus,
.gb-list-item-tertiary.gb-cc-b-evbuttonlabel:hover,
.gb-list-item-inline-icon-primary.gb-cc-b-evbuttonlabel:active,
.gb-list-item-inline-icon-primary.gb-cc-b-evbuttonlabel:focus,
.gb-list-item-inline-icon-primary.gb-cc-b-evbuttonlabel:hover,
.gb-list-item-inline-icon-secondary.gb-cc-b-evbuttonlabel:active,
.gb-list-item-inline-icon-secondary.gb-cc-b-evbuttonlabel:focus,
.gb-list-item-inline-icon-secondary.gb-cc-b-evbuttonlabel:hover,
.gb-list-item-inline-icon-tertiary.gb-cc-b-evbuttonlabel:active,
.gb-list-item-inline-icon-tertiary.gb-cc-b-evbuttonlabel:focus,
.gb-list-item-inline-icon-tertiary.gb-cc-b-evbuttonlabel:hover {
    border-left-color: #3078bf !important;
}

.q-icon-stacked.q-cc-b-evbuttonlabel:active,
.q-icon-stacked.q-cc-b-evbuttonlabel:focus,
.q-icon-stacked.q-cc-b-evbuttonlabel:hover,
.q-icon-stacked-secondary.q-cc-b-evbuttonlabel:active,
.q-icon-stacked-secondary.q-cc-b-evbuttonlabel:focus,
.q-icon-stacked-secondary.q-cc-b-evbuttonlabel:hover,
.q-inline-icon.q-cc-b-evbuttonlabel:active,
.q-inline-icon.q-cc-b-evbuttonlabel:focus,
.q-inline-icon.q-cc-b-evbuttonlabel:hover,
.q-inline-icon-secondary.q-cc-b-evbuttonlabel:active,
.q-inline-icon-secondary.q-cc-b-evbuttonlabel:focus,
.q-inline-icon-secondary.q-cc-b-evbuttonlabel:hover,
.gb-primary-button-stacked-icon.gb-cc-b-evbuttonlabel:active,
.gb-primary-button-stacked-icon.gb-cc-b-evbuttonlabel:focus,
.gb-primary-button-stacked-icon.gb-cc-b-evbuttonlabel:hover,
.gb-secondary-button-stacked-icon.gb-cc-b-evbuttonlabel:active,
.gb-secondary-button-stacked-icon.gb-cc-b-evbuttonlabel:focus,
.gb-secondary-button-stacked-icon.gb-cc-b-evbuttonlabel:hover,
.gb-tertiary-button-stacked-icon.gb-cc-b-evbuttonlabel:active,
.gb-tertiary-button-stacked-icon.gb-cc-b-evbuttonlabel:focus,
.gb-tertiary-button-stacked-icon.gb-cc-b-evbuttonlabel:hover,
.gb-primary-button-inline-icon.gb-cc-b-evbuttonlabel:active,
.gb-primary-button-inline-icon.gb-cc-b-evbuttonlabel:focus,
.gb-primary-button-inline-icon.gb-cc-b-evbuttonlabel:hover,
.gb-secondary-button-inline-icon.gb-cc-b-evbuttonlabel:active,
.gb-secondary-button-inline-icon.gb-cc-b-evbuttonlabel:focus,
.gb-secondary-button-inline-icon.gb-cc-b-evbuttonlabel:hover,
.gb-tertiary-button-inline-icon.gb-cc-b-evbuttonlabel:active,
.gb-tertiary-button-inline-icon.gb-cc-b-evbuttonlabel:focus,
.gb-tertiary-button-inline-icon.gb-cc-b-evbuttonlabel:hover {
    box-shadow: inset 0 0 0 2px #3078bf !important;
}
.q-primary-button.q-cc-b-white,
.q-secondary-button.q-cc-b-white,
.q-icon-stacked.q-cc-b-white,
.q-icon-stacked-secondary.q-cc-b-white,
.q-inline-icon.q-cc-b-white,
.q-inline-icon-secondary.q-cc-b-white,
.gb-primary-button.gb-cc-b-white,
.gb-secondary-button.gb-cc-b-white,
.gb-tertiary-button.gb-cc-b-white,
.gb-primary-button-stacked-icon.gb-cc-b-white,
.gb-secondary-button-stacked-icon.gb-cc-b-white,
.gb-tertiary-button-stacked-icon.gb-cc-b-white,
.gb-primary-button-inline-icon.gb-cc-b-white,
.gb-secondary-button-inline-icon.gb-cc-b-white,
.gb-tertiary-button-inline-icon.gb-cc-b-white {
    border-color: #fff !important;
}

.q-primary-button.q-cc-b-white:active,
.q-primary-button.q-cc-b-white:focus,
.q-primary-button.q-cc-b-white:hover,
.q-secondary-button.q-cc-b-white:active,
.q-secondary-button.q-cc-b-white:focus,
.q-secondary-button.q-cc-b-white:hover,
.gb-primary-button.gb-cc-b-white:active,
.gb-primary-button.gb-cc-b-white:hover,
.gb-primary-button.gb-cc-b-white:focus,
.gb-secondary-button.gb-cc-b-white:active,
.gb-secondary-button.gb-cc-b-white:hover,
.gb-secondary-button.gb-cc-b-white:focus,
.gb-tertiary-button.gb-cc-b-white:active,
.gb-tertiary-button.gb-cc-b-white:hover,
.gb-tertiary-button.gb-cc-b-white:focus {
    background-color: #fff !important;
}

.q-list-item.q-cc-b-white:active,
.q-list-item.q-cc-b-white:focus,
.q-list-item.q-cc-b-white:hover,
.gb-list-item-primary.gb-cc-b-white:active,
.gb-list-item-primary.gb-cc-b-white:focus,
.gb-list-item-primary.gb-cc-b-white:hover,
.gb-list-item-secondary.gb-cc-b-white:active,
.gb-list-item-secondary.gb-cc-b-white:focus,
.gb-list-item-secondary.gb-cc-b-white:hover,
.gb-list-item-tertiary.gb-cc-b-white:active,
.gb-list-item-tertiary.gb-cc-b-white:focus,
.gb-list-item-tertiary.gb-cc-b-white:hover,
.gb-list-item-inline-icon-primary.gb-cc-b-white:active,
.gb-list-item-inline-icon-primary.gb-cc-b-white:focus,
.gb-list-item-inline-icon-primary.gb-cc-b-white:hover,
.gb-list-item-inline-icon-secondary.gb-cc-b-white:active,
.gb-list-item-inline-icon-secondary.gb-cc-b-white:focus,
.gb-list-item-inline-icon-secondary.gb-cc-b-white:hover,
.gb-list-item-inline-icon-tertiary.gb-cc-b-white:active,
.gb-list-item-inline-icon-tertiary.gb-cc-b-white:focus,
.gb-list-item-inline-icon-tertiary.gb-cc-b-white:hover {
    border-left-color: #fff !important;
}

.q-icon-stacked.q-cc-b-white:active,
.q-icon-stacked.q-cc-b-white:focus,
.q-icon-stacked.q-cc-b-white:hover,
.q-icon-stacked-secondary.q-cc-b-white:active,
.q-icon-stacked-secondary.q-cc-b-white:focus,
.q-icon-stacked-secondary.q-cc-b-white:hover,
.q-inline-icon.q-cc-b-white:active,
.q-inline-icon.q-cc-b-white:focus,
.q-inline-icon.q-cc-b-white:hover,
.q-inline-icon-secondary.q-cc-b-white:active,
.q-inline-icon-secondary.q-cc-b-white:focus,
.q-inline-icon-secondary.q-cc-b-white:hover,
.gb-primary-button-stacked-icon.gb-cc-b-white:active,
.gb-primary-button-stacked-icon.gb-cc-b-white:focus,
.gb-primary-button-stacked-icon.gb-cc-b-white:hover,
.gb-secondary-button-stacked-icon.gb-cc-b-white:active,
.gb-secondary-button-stacked-icon.gb-cc-b-white:focus,
.gb-secondary-button-stacked-icon.gb-cc-b-white:hover,
.gb-tertiary-button-stacked-icon.gb-cc-b-white:active,
.gb-tertiary-button-stacked-icon.gb-cc-b-white:focus,
.gb-tertiary-button-stacked-icon.gb-cc-b-white:hover,
.gb-primary-button-inline-icon.gb-cc-b-white:active,
.gb-primary-button-inline-icon.gb-cc-b-white:focus,
.gb-primary-button-inline-icon.gb-cc-b-white:hover,
.gb-secondary-button-inline-icon.gb-cc-b-white:active,
.gb-secondary-button-inline-icon.gb-cc-b-white:focus,
.gb-secondary-button-inline-icon.gb-cc-b-white:hover,
.gb-tertiary-button-inline-icon.gb-cc-b-white:active,
.gb-tertiary-button-inline-icon.gb-cc-b-white:focus,
.gb-tertiary-button-inline-icon.gb-cc-b-white:hover {
    box-shadow: inset 0 0 0 2px #fff !important;
}
adv-grid.q-cc-ag-msabcpink-border,
adv-col.q-cc-ag-msabcpink-border,
.gb-adv-grid.gb-cc-ag-msabcpink-border,
.gb-adv-col.gb-cc-ag-msabcpink-border,
gb-adv-grid.gb-cc-ag-msabcpink-border,
adv-col.gb-cc-ag-msabcpink-border {
border-color: #e0457b !important;
}

.q-geoip-notification-container.q-cc-g-msabcpink-bg,
.q-gridbuilder.q-cc-g-msabcpink-bg,
adv-grid.q-cc-ag-msabcpink-bg,
adv-col.q-cc-ag-msabcpink-bg,
.gb-geoip-notification-container.gb-cc-g-msabcpink-bg,
.gb-gridbuilder.gb-cc-g-msabcpink-bg,
.gb-adv-grid.gb-cc-ag-msabcpink-bg,
.gb-adv-col.gb-cc-ag-msabcpink-bg,
gb-adv-grid.gb-cc-ag-msabcpink-bg,
adv-col.gb-cc-ag-msabcpink-bg {
background-color: #e0457b !important;
}
adv-grid.q-cc-ag-decemberemployeediscount-border,
adv-col.q-cc-ag-decemberemployeediscount-border,
.gb-adv-grid.gb-cc-ag-decemberemployeediscount-border,
.gb-adv-col.gb-cc-ag-decemberemployeediscount-border,
gb-adv-grid.gb-cc-ag-decemberemployeediscount-border,
adv-col.gb-cc-ag-decemberemployeediscount-border {
border-color: #ed2024 !important;
}

.q-geoip-notification-container.q-cc-g-decemberemployeediscount-bg,
.q-gridbuilder.q-cc-g-decemberemployeediscount-bg,
adv-grid.q-cc-ag-decemberemployeediscount-bg,
adv-col.q-cc-ag-decemberemployeediscount-bg,
.gb-geoip-notification-container.gb-cc-g-decemberemployeediscount-bg,
.gb-gridbuilder.gb-cc-g-decemberemployeediscount-bg,
.gb-adv-grid.gb-cc-ag-decemberemployeediscount-bg,
.gb-adv-col.gb-cc-ag-decemberemployeediscount-bg,
gb-adv-grid.gb-cc-ag-decemberemployeediscount-bg,
adv-col.gb-cc-ag-decemberemployeediscount-bg {
background-color: #ed2024 !important;
}
adv-grid.q-cc-ag-retailred-border,
adv-col.q-cc-ag-retailred-border,
.gb-adv-grid.gb-cc-ag-retailred-border,
.gb-adv-col.gb-cc-ag-retailred-border,
gb-adv-grid.gb-cc-ag-retailred-border,
adv-col.gb-cc-ag-retailred-border {
border-color: #cf152d !important;
}

.q-geoip-notification-container.q-cc-g-retailred-bg,
.q-gridbuilder.q-cc-g-retailred-bg,
adv-grid.q-cc-ag-retailred-bg,
adv-col.q-cc-ag-retailred-bg,
.gb-geoip-notification-container.gb-cc-g-retailred-bg,
.gb-gridbuilder.gb-cc-g-retailred-bg,
.gb-adv-grid.gb-cc-ag-retailred-bg,
.gb-adv-col.gb-cc-ag-retailred-bg,
gb-adv-grid.gb-cc-ag-retailred-bg,
adv-col.gb-cc-ag-retailred-bg {
background-color: #cf152d !important;
}
adv-grid.q-cc-ag-black-border,
adv-col.q-cc-ag-black-border,
.gb-adv-grid.gb-cc-ag-black-border,
.gb-adv-col.gb-cc-ag-black-border,
gb-adv-grid.gb-cc-ag-black-border,
adv-col.gb-cc-ag-black-border {
border-color: #000000 !important;
}

.q-geoip-notification-container.q-cc-g-black-bg,
.q-gridbuilder.q-cc-g-black-bg,
adv-grid.q-cc-ag-black-bg,
adv-col.q-cc-ag-black-bg,
.gb-geoip-notification-container.gb-cc-g-black-bg,
.gb-gridbuilder.gb-cc-g-black-bg,
.gb-adv-grid.gb-cc-ag-black-bg,
.gb-adv-col.gb-cc-ag-black-bg,
gb-adv-grid.gb-cc-ag-black-bg,
adv-col.gb-cc-ag-black-bg {
background-color: #000000 !important;
}
adv-grid.q-cc-ag-retailblue-border,
adv-col.q-cc-ag-retailblue-border,
.gb-adv-grid.gb-cc-ag-retailblue-border,
.gb-adv-col.gb-cc-ag-retailblue-border,
gb-adv-grid.gb-cc-ag-retailblue-border,
adv-col.gb-cc-ag-retailblue-border {
border-color: #194f90 !important;
}

.q-geoip-notification-container.q-cc-g-retailblue-bg,
.q-gridbuilder.q-cc-g-retailblue-bg,
adv-grid.q-cc-ag-retailblue-bg,
adv-col.q-cc-ag-retailblue-bg,
.gb-geoip-notification-container.gb-cc-g-retailblue-bg,
.gb-gridbuilder.gb-cc-g-retailblue-bg,
.gb-adv-grid.gb-cc-ag-retailblue-bg,
.gb-adv-col.gb-cc-ag-retailblue-bg,
gb-adv-grid.gb-cc-ag-retailblue-bg,
adv-col.gb-cc-ag-retailblue-bg {
background-color: #194f90 !important;
}
adv-grid.q-cc-ag-retailblue2-border,
adv-col.q-cc-ag-retailblue2-border,
.gb-adv-grid.gb-cc-ag-retailblue2-border,
.gb-adv-col.gb-cc-ag-retailblue2-border,
gb-adv-grid.gb-cc-ag-retailblue2-border,
adv-col.gb-cc-ag-retailblue2-border {
border-color: #2b7de1 !important;
}

.q-geoip-notification-container.q-cc-g-retailblue2-bg,
.q-gridbuilder.q-cc-g-retailblue2-bg,
adv-grid.q-cc-ag-retailblue2-bg,
adv-col.q-cc-ag-retailblue2-bg,
.gb-geoip-notification-container.gb-cc-g-retailblue2-bg,
.gb-gridbuilder.gb-cc-g-retailblue2-bg,
.gb-adv-grid.gb-cc-ag-retailblue2-bg,
.gb-adv-col.gb-cc-ag-retailblue2-bg,
gb-adv-grid.gb-cc-ag-retailblue2-bg,
adv-col.gb-cc-ag-retailblue2-bg {
background-color: #2b7de1 !important;
}
adv-grid.q-cc-ag-white-border,
adv-col.q-cc-ag-white-border,
.gb-adv-grid.gb-cc-ag-white-border,
.gb-adv-col.gb-cc-ag-white-border,
gb-adv-grid.gb-cc-ag-white-border,
adv-col.gb-cc-ag-white-border {
border-color: #fff !important;
}

.q-geoip-notification-container.q-cc-g-white-bg,
.q-gridbuilder.q-cc-g-white-bg,
adv-grid.q-cc-ag-white-bg,
adv-col.q-cc-ag-white-bg,
.gb-geoip-notification-container.gb-cc-g-white-bg,
.gb-gridbuilder.gb-cc-g-white-bg,
.gb-adv-grid.gb-cc-ag-white-bg,
.gb-adv-col.gb-cc-ag-white-bg,
gb-adv-grid.gb-cc-ag-white-bg,
adv-col.gb-cc-ag-white-bg {
background-color: #fff !important;
}
adv-grid.q-cc-ag-gray-border,
adv-col.q-cc-ag-gray-border,
.gb-adv-grid.gb-cc-ag-gray-border,
.gb-adv-col.gb-cc-ag-gray-border,
gb-adv-grid.gb-cc-ag-gray-border,
adv-col.gb-cc-ag-gray-border {
border-color: #e6e6e6 !important;
}

.q-geoip-notification-container.q-cc-g-gray-bg,
.q-gridbuilder.q-cc-g-gray-bg,
adv-grid.q-cc-ag-gray-bg,
adv-col.q-cc-ag-gray-bg,
.gb-geoip-notification-container.gb-cc-g-gray-bg,
.gb-gridbuilder.gb-cc-g-gray-bg,
.gb-adv-grid.gb-cc-ag-gray-bg,
.gb-adv-col.gb-cc-ag-gray-bg,
gb-adv-grid.gb-cc-ag-gray-bg,
adv-col.gb-cc-ag-gray-bg {
background-color: #e6e6e6 !important;
}
adv-grid.q-cc-ag-verydarkgrey-border,
adv-col.q-cc-ag-verydarkgrey-border,
.gb-adv-grid.gb-cc-ag-verydarkgrey-border,
.gb-adv-col.gb-cc-ag-verydarkgrey-border,
gb-adv-grid.gb-cc-ag-verydarkgrey-border,
adv-col.gb-cc-ag-verydarkgrey-border {
border-color: #1a1a1a !important;
}

.q-geoip-notification-container.q-cc-g-verydarkgrey-bg,
.q-gridbuilder.q-cc-g-verydarkgrey-bg,
adv-grid.q-cc-ag-verydarkgrey-bg,
adv-col.q-cc-ag-verydarkgrey-bg,
.gb-geoip-notification-container.gb-cc-g-verydarkgrey-bg,
.gb-gridbuilder.gb-cc-g-verydarkgrey-bg,
.gb-adv-grid.gb-cc-ag-verydarkgrey-bg,
.gb-adv-col.gb-cc-ag-verydarkgrey-bg,
gb-adv-grid.gb-cc-ag-verydarkgrey-bg,
adv-col.gb-cc-ag-verydarkgrey-bg {
background-color: #1a1a1a !important;
}
adv-grid.q-cc-ag-verylightgrey-border,
adv-col.q-cc-ag-verylightgrey-border,
.gb-adv-grid.gb-cc-ag-verylightgrey-border,
.gb-adv-col.gb-cc-ag-verylightgrey-border,
gb-adv-grid.gb-cc-ag-verylightgrey-border,
adv-col.gb-cc-ag-verylightgrey-border {
border-color: #f2f2f2 !important;
}

.q-geoip-notification-container.q-cc-g-verylightgrey-bg,
.q-gridbuilder.q-cc-g-verylightgrey-bg,
adv-grid.q-cc-ag-verylightgrey-bg,
adv-col.q-cc-ag-verylightgrey-bg,
.gb-geoip-notification-container.gb-cc-g-verylightgrey-bg,
.gb-gridbuilder.gb-cc-g-verylightgrey-bg,
.gb-adv-grid.gb-cc-ag-verylightgrey-bg,
.gb-adv-col.gb-cc-ag-verylightgrey-bg,
gb-adv-grid.gb-cc-ag-verylightgrey-bg,
adv-col.gb-cc-ag-verylightgrey-bg {
background-color: #f2f2f2 !important;
}
adv-grid.q-cc-ag-gold-border,
adv-col.q-cc-ag-gold-border,
.gb-adv-grid.gb-cc-ag-gold-border,
.gb-adv-col.gb-cc-ag-gold-border,
gb-adv-grid.gb-cc-ag-gold-border,
adv-col.gb-cc-ag-gold-border {
border-color: #cd9834 !important;
}

.q-geoip-notification-container.q-cc-g-gold-bg,
.q-gridbuilder.q-cc-g-gold-bg,
adv-grid.q-cc-ag-gold-bg,
adv-col.q-cc-ag-gold-bg,
.gb-geoip-notification-container.gb-cc-g-gold-bg,
.gb-gridbuilder.gb-cc-g-gold-bg,
.gb-adv-grid.gb-cc-ag-gold-bg,
.gb-adv-col.gb-cc-ag-gold-bg,
gb-adv-grid.gb-cc-ag-gold-bg,
adv-col.gb-cc-ag-gold-bg {
background-color: #cd9834 !important;
}
adv-grid.q-cc-ag-decembergrey-border,
adv-col.q-cc-ag-decembergrey-border,
.gb-adv-grid.gb-cc-ag-decembergrey-border,
.gb-adv-col.gb-cc-ag-decembergrey-border,
gb-adv-grid.gb-cc-ag-decembergrey-border,
adv-col.gb-cc-ag-decembergrey-border {
border-color: #e6e7e8 !important;
}

.q-geoip-notification-container.q-cc-g-decembergrey-bg,
.q-gridbuilder.q-cc-g-decembergrey-bg,
adv-grid.q-cc-ag-decembergrey-bg,
adv-col.q-cc-ag-decembergrey-bg,
.gb-geoip-notification-container.gb-cc-g-decembergrey-bg,
.gb-gridbuilder.gb-cc-g-decembergrey-bg,
.gb-adv-grid.gb-cc-ag-decembergrey-bg,
.gb-adv-col.gb-cc-ag-decembergrey-bg,
gb-adv-grid.gb-cc-ag-decembergrey-bg,
adv-col.gb-cc-ag-decembergrey-bg {
background-color: #e6e7e8 !important;
}
adv-grid.q-cc-ag-homepagered-border,
adv-col.q-cc-ag-homepagered-border,
.gb-adv-grid.gb-cc-ag-homepagered-border,
.gb-adv-col.gb-cc-ag-homepagered-border,
gb-adv-grid.gb-cc-ag-homepagered-border,
adv-col.gb-cc-ag-homepagered-border {
border-color: #cc1b32 !important;
}

.q-geoip-notification-container.q-cc-g-homepagered-bg,
.q-gridbuilder.q-cc-g-homepagered-bg,
adv-grid.q-cc-ag-homepagered-bg,
adv-col.q-cc-ag-homepagered-bg,
.gb-geoip-notification-container.gb-cc-g-homepagered-bg,
.gb-gridbuilder.gb-cc-g-homepagered-bg,
.gb-adv-grid.gb-cc-ag-homepagered-bg,
.gb-adv-col.gb-cc-ag-homepagered-bg,
gb-adv-grid.gb-cc-ag-homepagered-bg,
adv-col.gb-cc-ag-homepagered-bg {
background-color: #cc1b32 !important;
}
adv-grid.q-cc-ag-truckmonthgray-border,
adv-col.q-cc-ag-truckmonthgray-border,
.gb-adv-grid.gb-cc-ag-truckmonthgray-border,
.gb-adv-col.gb-cc-ag-truckmonthgray-border,
gb-adv-grid.gb-cc-ag-truckmonthgray-border,
adv-col.gb-cc-ag-truckmonthgray-border {
border-color: #262626 !important;
}

.q-geoip-notification-container.q-cc-g-truckmonthgray-bg,
.q-gridbuilder.q-cc-g-truckmonthgray-bg,
adv-grid.q-cc-ag-truckmonthgray-bg,
adv-col.q-cc-ag-truckmonthgray-bg,
.gb-geoip-notification-container.gb-cc-g-truckmonthgray-bg,
.gb-gridbuilder.gb-cc-g-truckmonthgray-bg,
.gb-adv-grid.gb-cc-ag-truckmonthgray-bg,
.gb-adv-col.gb-cc-ag-truckmonthgray-bg,
gb-adv-grid.gb-cc-ag-truckmonthgray-bg,
adv-col.gb-cc-ag-truckmonthgray-bg {
background-color: #262626 !important;
}
adv-grid.q-cc-ag-retailgray-border,
adv-col.q-cc-ag-retailgray-border,
.gb-adv-grid.gb-cc-ag-retailgray-border,
.gb-adv-col.gb-cc-ag-retailgray-border,
gb-adv-grid.gb-cc-ag-retailgray-border,
adv-col.gb-cc-ag-retailgray-border {
border-color: #262626 !important;
}

.q-geoip-notification-container.q-cc-g-retailgray-bg,
.q-gridbuilder.q-cc-g-retailgray-bg,
adv-grid.q-cc-ag-retailgray-bg,
adv-col.q-cc-ag-retailgray-bg,
.gb-geoip-notification-container.gb-cc-g-retailgray-bg,
.gb-gridbuilder.gb-cc-g-retailgray-bg,
.gb-adv-grid.gb-cc-ag-retailgray-bg,
.gb-adv-col.gb-cc-ag-retailgray-bg,
gb-adv-grid.gb-cc-ag-retailgray-bg,
adv-col.gb-cc-ag-retailgray-bg {
background-color: #262626 !important;
}
adv-grid.q-cc-ag-electricblue-border,
adv-col.q-cc-ag-electricblue-border,
.gb-adv-grid.gb-cc-ag-electricblue-border,
.gb-adv-col.gb-cc-ag-electricblue-border,
gb-adv-grid.gb-cc-ag-electricblue-border,
adv-col.gb-cc-ag-electricblue-border {
border-color: #207faa !important;
}

.q-geoip-notification-container.q-cc-g-electricblue-bg,
.q-gridbuilder.q-cc-g-electricblue-bg,
adv-grid.q-cc-ag-electricblue-bg,
adv-col.q-cc-ag-electricblue-bg,
.gb-geoip-notification-container.gb-cc-g-electricblue-bg,
.gb-gridbuilder.gb-cc-g-electricblue-bg,
.gb-adv-grid.gb-cc-ag-electricblue-bg,
.gb-adv-col.gb-cc-ag-electricblue-bg,
gb-adv-grid.gb-cc-ag-electricblue-bg,
adv-col.gb-cc-ag-electricblue-bg {
background-color: #207faa !important;
}
adv-grid.q-cc-ag-0075c9-border,
adv-col.q-cc-ag-0075c9-border,
.gb-adv-grid.gb-cc-ag-0075c9-border,
.gb-adv-col.gb-cc-ag-0075c9-border,
gb-adv-grid.gb-cc-ag-0075c9-border,
adv-col.gb-cc-ag-0075c9-border {
border-color: #0075c9 !important;
}

.q-geoip-notification-container.q-cc-g-0075c9-bg,
.q-gridbuilder.q-cc-g-0075c9-bg,
adv-grid.q-cc-ag-0075c9-bg,
adv-col.q-cc-ag-0075c9-bg,
.gb-geoip-notification-container.gb-cc-g-0075c9-bg,
.gb-gridbuilder.gb-cc-g-0075c9-bg,
.gb-adv-grid.gb-cc-ag-0075c9-bg,
.gb-adv-col.gb-cc-ag-0075c9-bg,
gb-adv-grid.gb-cc-ag-0075c9-bg,
adv-col.gb-cc-ag-0075c9-bg {
background-color: #0075c9 !important;
}
adv-grid.q-cc-ag-0074c6-border,
adv-col.q-cc-ag-0074c6-border,
.gb-adv-grid.gb-cc-ag-0074c6-border,
.gb-adv-col.gb-cc-ag-0074c6-border,
gb-adv-grid.gb-cc-ag-0074c6-border,
adv-col.gb-cc-ag-0074c6-border {
border-color: #0074c6 !important;
}

.q-geoip-notification-container.q-cc-g-0074c6-bg,
.q-gridbuilder.q-cc-g-0074c6-bg,
adv-grid.q-cc-ag-0074c6-bg,
adv-col.q-cc-ag-0074c6-bg,
.gb-geoip-notification-container.gb-cc-g-0074c6-bg,
.gb-gridbuilder.gb-cc-g-0074c6-bg,
.gb-adv-grid.gb-cc-ag-0074c6-bg,
.gb-adv-col.gb-cc-ag-0074c6-bg,
gb-adv-grid.gb-cc-ag-0074c6-bg,
adv-col.gb-cc-ag-0074c6-bg {
background-color: #0074c6 !important;
}
adv-grid.q-cc-ag-0075c8-border,
adv-col.q-cc-ag-0075c8-border,
.gb-adv-grid.gb-cc-ag-0075c8-border,
.gb-adv-col.gb-cc-ag-0075c8-border,
gb-adv-grid.gb-cc-ag-0075c8-border,
adv-col.gb-cc-ag-0075c8-border {
border-color: #0075c8 !important;
}

.q-geoip-notification-container.q-cc-g-0075c8-bg,
.q-gridbuilder.q-cc-g-0075c8-bg,
adv-grid.q-cc-ag-0075c8-bg,
adv-col.q-cc-ag-0075c8-bg,
.gb-geoip-notification-container.gb-cc-g-0075c8-bg,
.gb-gridbuilder.gb-cc-g-0075c8-bg,
.gb-adv-grid.gb-cc-ag-0075c8-bg,
.gb-adv-col.gb-cc-ag-0075c8-bg,
gb-adv-grid.gb-cc-ag-0075c8-bg,
adv-col.gb-cc-ag-0075c8-bg {
background-color: #0075c8 !important;
}
adv-grid.q-cc-ag-graymid-border,
adv-col.q-cc-ag-graymid-border,
.gb-adv-grid.gb-cc-ag-graymid-border,
.gb-adv-col.gb-cc-ag-graymid-border,
gb-adv-grid.gb-cc-ag-graymid-border,
adv-col.gb-cc-ag-graymid-border {
border-color: #b3b3b3 !important;
}

.q-geoip-notification-container.q-cc-g-graymid-bg,
.q-gridbuilder.q-cc-g-graymid-bg,
adv-grid.q-cc-ag-graymid-bg,
adv-col.q-cc-ag-graymid-bg,
.gb-geoip-notification-container.gb-cc-g-graymid-bg,
.gb-gridbuilder.gb-cc-g-graymid-bg,
.gb-adv-grid.gb-cc-ag-graymid-bg,
.gb-adv-col.gb-cc-ag-graymid-bg,
gb-adv-grid.gb-cc-ag-graymid-bg,
adv-col.gb-cc-ag-graymid-bg {
background-color: #b3b3b3 !important;
}
adv-grid.q-cc-ag-808080-border,
adv-col.q-cc-ag-808080-border,
.gb-adv-grid.gb-cc-ag-808080-border,
.gb-adv-col.gb-cc-ag-808080-border,
gb-adv-grid.gb-cc-ag-808080-border,
adv-col.gb-cc-ag-808080-border {
border-color: #808080 !important;
}

.q-geoip-notification-container.q-cc-g-808080-bg,
.q-gridbuilder.q-cc-g-808080-bg,
adv-grid.q-cc-ag-808080-bg,
adv-col.q-cc-ag-808080-bg,
.gb-geoip-notification-container.gb-cc-g-808080-bg,
.gb-gridbuilder.gb-cc-g-808080-bg,
.gb-adv-grid.gb-cc-ag-808080-bg,
.gb-adv-col.gb-cc-ag-808080-bg,
gb-adv-grid.gb-cc-ag-808080-bg,
adv-col.gb-cc-ag-808080-bg {
background-color: #808080 !important;
}
adv-grid.q-cc-ag-ce0e2d-border,
adv-col.q-cc-ag-ce0e2d-border,
.gb-adv-grid.gb-cc-ag-ce0e2d-border,
.gb-adv-col.gb-cc-ag-ce0e2d-border,
gb-adv-grid.gb-cc-ag-ce0e2d-border,
adv-col.gb-cc-ag-ce0e2d-border {
border-color: #ce0e2d !important;
}

.q-geoip-notification-container.q-cc-g-ce0e2d-bg,
.q-gridbuilder.q-cc-g-ce0e2d-bg,
adv-grid.q-cc-ag-ce0e2d-bg,
adv-col.q-cc-ag-ce0e2d-bg,
.gb-geoip-notification-container.gb-cc-g-ce0e2d-bg,
.gb-gridbuilder.gb-cc-g-ce0e2d-bg,
.gb-adv-grid.gb-cc-ag-ce0e2d-bg,
.gb-adv-col.gb-cc-ag-ce0e2d-bg,
gb-adv-grid.gb-cc-ag-ce0e2d-bg,
adv-col.gb-cc-ag-ce0e2d-bg {
background-color: #ce0e2d !important;
}
adv-grid.q-cc-ag-redtag-border,
adv-col.q-cc-ag-redtag-border,
.gb-adv-grid.gb-cc-ag-redtag-border,
.gb-adv-col.gb-cc-ag-redtag-border,
gb-adv-grid.gb-cc-ag-redtag-border,
adv-col.gb-cc-ag-redtag-border {
border-color: #ed2024 !important;
}

.q-geoip-notification-container.q-cc-g-redtag-bg,
.q-gridbuilder.q-cc-g-redtag-bg,
adv-grid.q-cc-ag-redtag-bg,
adv-col.q-cc-ag-redtag-bg,
.gb-geoip-notification-container.gb-cc-g-redtag-bg,
.gb-gridbuilder.gb-cc-g-redtag-bg,
.gb-adv-grid.gb-cc-ag-redtag-bg,
.gb-adv-col.gb-cc-ag-redtag-bg,
gb-adv-grid.gb-cc-ag-redtag-bg,
adv-col.gb-cc-ag-redtag-bg {
background-color: #ed2024 !important;
}
adv-grid.q-cc-ag-rewardssilver-border,
adv-col.q-cc-ag-rewardssilver-border,
.gb-adv-grid.gb-cc-ag-rewardssilver-border,
.gb-adv-col.gb-cc-ag-rewardssilver-border,
gb-adv-grid.gb-cc-ag-rewardssilver-border,
adv-col.gb-cc-ag-rewardssilver-border {
border-color: #ececea !important;
}

.q-geoip-notification-container.q-cc-g-rewardssilver-bg,
.q-gridbuilder.q-cc-g-rewardssilver-bg,
adv-grid.q-cc-ag-rewardssilver-bg,
adv-col.q-cc-ag-rewardssilver-bg,
.gb-geoip-notification-container.gb-cc-g-rewardssilver-bg,
.gb-gridbuilder.gb-cc-g-rewardssilver-bg,
.gb-adv-grid.gb-cc-ag-rewardssilver-bg,
.gb-adv-col.gb-cc-ag-rewardssilver-bg,
gb-adv-grid.gb-cc-ag-rewardssilver-bg,
adv-col.gb-cc-ag-rewardssilver-bg {
background-color: #ececea !important;
}
adv-grid.q-cc-ag-rewardsgold-border,
adv-col.q-cc-ag-rewardsgold-border,
.gb-adv-grid.gb-cc-ag-rewardsgold-border,
.gb-adv-col.gb-cc-ag-rewardsgold-border,
gb-adv-grid.gb-cc-ag-rewardsgold-border,
adv-col.gb-cc-ag-rewardsgold-border {
border-color: #decd86 !important;
}

.q-geoip-notification-container.q-cc-g-rewardsgold-bg,
.q-gridbuilder.q-cc-g-rewardsgold-bg,
adv-grid.q-cc-ag-rewardsgold-bg,
adv-col.q-cc-ag-rewardsgold-bg,
.gb-geoip-notification-container.gb-cc-g-rewardsgold-bg,
.gb-gridbuilder.gb-cc-g-rewardsgold-bg,
.gb-adv-grid.gb-cc-ag-rewardsgold-bg,
.gb-adv-col.gb-cc-ag-rewardsgold-bg,
gb-adv-grid.gb-cc-ag-rewardsgold-bg,
adv-col.gb-cc-ag-rewardsgold-bg {
background-color: #decd86 !important;
}
adv-grid.q-cc-ag-rewardsplatinum-border,
adv-col.q-cc-ag-rewardsplatinum-border,
.gb-adv-grid.gb-cc-ag-rewardsplatinum-border,
.gb-adv-col.gb-cc-ag-rewardsplatinum-border,
gb-adv-grid.gb-cc-ag-rewardsplatinum-border,
adv-col.gb-cc-ag-rewardsplatinum-border {
border-color: #5b5c5b !important;
}

.q-geoip-notification-container.q-cc-g-rewardsplatinum-bg,
.q-gridbuilder.q-cc-g-rewardsplatinum-bg,
adv-grid.q-cc-ag-rewardsplatinum-bg,
adv-col.q-cc-ag-rewardsplatinum-bg,
.gb-geoip-notification-container.gb-cc-g-rewardsplatinum-bg,
.gb-gridbuilder.gb-cc-g-rewardsplatinum-bg,
.gb-adv-grid.gb-cc-ag-rewardsplatinum-bg,
.gb-adv-col.gb-cc-ag-rewardsplatinum-bg,
gb-adv-grid.gb-cc-ag-rewardsplatinum-bg,
adv-col.gb-cc-ag-rewardsplatinum-bg {
background-color: #5b5c5b !important;
}
adv-grid.q-cc-ag-naturalgray-border,
adv-col.q-cc-ag-naturalgray-border,
.gb-adv-grid.gb-cc-ag-naturalgray-border,
.gb-adv-col.gb-cc-ag-naturalgray-border,
gb-adv-grid.gb-cc-ag-naturalgray-border,
adv-col.gb-cc-ag-naturalgray-border {
border-color: #f7f7f7 !important;
}

.q-geoip-notification-container.q-cc-g-naturalgray-bg,
.q-gridbuilder.q-cc-g-naturalgray-bg,
adv-grid.q-cc-ag-naturalgray-bg,
adv-col.q-cc-ag-naturalgray-bg,
.gb-geoip-notification-container.gb-cc-g-naturalgray-bg,
.gb-gridbuilder.gb-cc-g-naturalgray-bg,
.gb-adv-grid.gb-cc-ag-naturalgray-bg,
.gb-adv-col.gb-cc-ag-naturalgray-bg,
gb-adv-grid.gb-cc-ag-naturalgray-bg,
adv-col.gb-cc-ag-naturalgray-bg {
background-color: #f7f7f7 !important;
}
adv-grid.q-cc-ag-ultragray-border,
adv-col.q-cc-ag-ultragray-border,
.gb-adv-grid.gb-cc-ag-ultragray-border,
.gb-adv-col.gb-cc-ag-ultragray-border,
gb-adv-grid.gb-cc-ag-ultragray-border,
adv-col.gb-cc-ag-ultragray-border {
border-color: #616161 !important;
}

.q-geoip-notification-container.q-cc-g-ultragray-bg,
.q-gridbuilder.q-cc-g-ultragray-bg,
adv-grid.q-cc-ag-ultragray-bg,
adv-col.q-cc-ag-ultragray-bg,
.gb-geoip-notification-container.gb-cc-g-ultragray-bg,
.gb-gridbuilder.gb-cc-g-ultragray-bg,
.gb-adv-grid.gb-cc-ag-ultragray-bg,
.gb-adv-col.gb-cc-ag-ultragray-bg,
gb-adv-grid.gb-cc-ag-ultragray-bg,
adv-col.gb-cc-ag-ultragray-bg {
background-color: #616161 !important;
}
adv-grid.q-cc-ag-retailcybersalesbg-border,
adv-col.q-cc-ag-retailcybersalesbg-border,
.gb-adv-grid.gb-cc-ag-retailcybersalesbg-border,
.gb-adv-col.gb-cc-ag-retailcybersalesbg-border,
gb-adv-grid.gb-cc-ag-retailcybersalesbg-border,
adv-col.gb-cc-ag-retailcybersalesbg-border {
border-color: #393839 !important;
}

.q-geoip-notification-container.q-cc-g-retailcybersalesbg-bg,
.q-gridbuilder.q-cc-g-retailcybersalesbg-bg,
adv-grid.q-cc-ag-retailcybersalesbg-bg,
adv-col.q-cc-ag-retailcybersalesbg-bg,
.gb-geoip-notification-container.gb-cc-g-retailcybersalesbg-bg,
.gb-gridbuilder.gb-cc-g-retailcybersalesbg-bg,
.gb-adv-grid.gb-cc-ag-retailcybersalesbg-bg,
.gb-adv-col.gb-cc-ag-retailcybersalesbg-bg,
gb-adv-grid.gb-cc-ag-retailcybersalesbg-bg,
adv-col.gb-cc-ag-retailcybersalesbg-bg {
background-color: #393839 !important;
}
adv-grid.q-cc-ag-2022redtag-border,
adv-col.q-cc-ag-2022redtag-border,
.gb-adv-grid.gb-cc-ag-2022redtag-border,
.gb-adv-col.gb-cc-ag-2022redtag-border,
gb-adv-grid.gb-cc-ag-2022redtag-border,
adv-col.gb-cc-ag-2022redtag-border {
border-color: #ed2024 !important;
}

.q-geoip-notification-container.q-cc-g-2022redtag-bg,
.q-gridbuilder.q-cc-g-2022redtag-bg,
adv-grid.q-cc-ag-2022redtag-bg,
adv-col.q-cc-ag-2022redtag-bg,
.gb-geoip-notification-container.gb-cc-g-2022redtag-bg,
.gb-gridbuilder.gb-cc-g-2022redtag-bg,
.gb-adv-grid.gb-cc-ag-2022redtag-bg,
.gb-adv-col.gb-cc-ag-2022redtag-bg,
gb-adv-grid.gb-cc-ag-2022redtag-bg,
adv-col.gb-cc-ag-2022redtag-bg {
background-color: #ed2024 !important;
}
adv-grid.q-cc-ag-grayb2b2b2-border,
adv-col.q-cc-ag-grayb2b2b2-border,
.gb-adv-grid.gb-cc-ag-grayb2b2b2-border,
.gb-adv-col.gb-cc-ag-grayb2b2b2-border,
gb-adv-grid.gb-cc-ag-grayb2b2b2-border,
adv-col.gb-cc-ag-grayb2b2b2-border {
border-color: #b2b2b2 !important;
}

.q-geoip-notification-container.q-cc-g-grayb2b2b2-bg,
.q-gridbuilder.q-cc-g-grayb2b2b2-bg,
adv-grid.q-cc-ag-grayb2b2b2-bg,
adv-col.q-cc-ag-grayb2b2b2-bg,
.gb-geoip-notification-container.gb-cc-g-grayb2b2b2-bg,
.gb-gridbuilder.gb-cc-g-grayb2b2b2-bg,
.gb-adv-grid.gb-cc-ag-grayb2b2b2-bg,
.gb-adv-col.gb-cc-ag-grayb2b2b2-bg,
gb-adv-grid.gb-cc-ag-grayb2b2b2-bg,
adv-col.gb-cc-ag-grayb2b2b2-bg {
background-color: #b2b2b2 !important;
}
adv-grid.q-cc-ag-militarycolor-border,
adv-col.q-cc-ag-militarycolor-border,
.gb-adv-grid.gb-cc-ag-militarycolor-border,
.gb-adv-col.gb-cc-ag-militarycolor-border,
gb-adv-grid.gb-cc-ag-militarycolor-border,
adv-col.gb-cc-ag-militarycolor-border {
border-color: #393839 !important;
}

.q-geoip-notification-container.q-cc-g-militarycolor-bg,
.q-gridbuilder.q-cc-g-militarycolor-bg,
adv-grid.q-cc-ag-militarycolor-bg,
adv-col.q-cc-ag-militarycolor-bg,
.gb-geoip-notification-container.gb-cc-g-militarycolor-bg,
.gb-gridbuilder.gb-cc-g-militarycolor-bg,
.gb-adv-grid.gb-cc-ag-militarycolor-bg,
.gb-adv-col.gb-cc-ag-militarycolor-bg,
gb-adv-grid.gb-cc-ag-militarycolor-bg,
adv-col.gb-cc-ag-militarycolor-bg {
background-color: #393839 !important;
}
.row-container.q-cc-t-verylightgrey-bg {
    background-color: #f2f2f2 !important;
}
.row-container.q-cc-t-chevygray-bg {
    background-color: #262626 !important;
}

/*
     FILE ARCHIVED ON 07:24:45 May 02, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:59:46 May 11, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1496.85
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.071
  cdx.remote: 0.054
  esindex: 0.008
  LoadShardBlock: 1457.033 (3)
  PetaboxLoader3.datanode: 1958.849 (5)
  load_resource: 1406.518 (2)
  PetaboxLoader3.resolve: 867.113 (2)
*/