div iframe[src*="youtube"] {
    height: 100%;
    width: 100%;
}
/*
     FILE ARCHIVED ON 07:15:26 Feb 16, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:04:27 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 142.066
  exclusion.robots: 0.132
  exclusion.robots.policy: 0.115
  RedisCDXSource: 9.291
  esindex: 0.012
  LoadShardBlock: 102.323 (3)
  PetaboxLoader3.datanode: 139.625 (4)
  load_resource: 168.992
  PetaboxLoader3.resolve: 64.833
*/