.t-border-top-thick-brand{border-top:.3125rem solid transparent}.t-border-top-print-brand{border-top:1.125rem solid transparent}.t-border-bottom-thin-brand{border-bottom:.0625rem solid transparent}.t-color-brand{color:#fff}
/*
     FILE ARCHIVED ON 06:17:38 Aug 15, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:06:01 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 117.405
  exclusion.robots: 0.121
  exclusion.robots.policy: 0.109
  cdx.remote: 0.086
  esindex: 0.013
  LoadShardBlock: 78.685 (3)
  PetaboxLoader3.datanode: 410.933 (4)
  load_resource: 378.819
  PetaboxLoader3.resolve: 42.382
*/