body { width:7in; background-color:#fff; background-image:none; }

a, a:link, a:visited, a:hover, a:focus, a:active { color:#000; text-decoration:none; }

/* GENERAL STRUCTURE */
div#utility, div#sidebar, div#footer, ul.localnav, ol.toctabs, ul#subtabs, ul#featurenav, form { display:none; }
body div#container { width:100%; }
body div#pagebody { width:100%; }
body div#content { width:100%; margin:0; }

/* GENERAL PRESENTATIONAL */
.sectionhead, ul.shoppingtools, ul.nextsteps, li.featureslink { display:none; }
body hr { height:5px; border-bottom:1px solid #000; }
dl#masthead { display:none; }
div#header, div#pagebody { width:780px; background: #fff; }

/* HEADINGS */
html>body .sIFR-hasFlash h1#pagetitle, html>body .sIFR-hasFlash h2.sifr, html>body .sIFR-hasFlash em.sifr, 
html>body .sIFR-hasFlash h2.whitebgsifr, html>body .sIFR-hasFlash h2.sifr { background-color:#fff; visibility: hidden !important; }
html>body .sIFR-replaced { visibility:visible !important; }
 
/* hide for moz print, allow normal flash printing in ie */
html>body .sIFR-flash, html>body .sIFR-flash object, html>body .sIFR-flash embed {
display: none !important; height: 0; width: 0; position: absolute; overflow: hidden;
}

html>body span.sIFR-alternate {
visibility: visible !important; display: block !important; position: static !important; left: auto !important; top: auto !important;
}

/* hide plain text for ie print, allow regular sifr headers */
* html span.sIFR-alternate { visibility:hidden; }

/* SPECIFIC SECTIONS */

/* featurespecs */
body.printall div#fspec div.dn { display:block; font-family:"Lucida Sans Unicode",verdana,sans-serif; }
body div#fspec { width:7in; margin:0; }
body div#fspec table { width:7in; margin:0.5em 0; }
body div#fspec table th { width:0.2in; }
* html div#fspec table th { width:auto; }
body div#fspec table tr { border-top:1px solid #ccc; }
html>body div#fspec table tr { page-break-before: auto; }
body div#fspec table caption { display:table-caption; margin-top:15px; }

/* toc models */
body.models ol.toc li { float:left; width:138px; margin:0 4px 0 0; padding:6px 0 0 0; }
body.models ol.toc li h3, body.models ol.toc li p, body.models ol.toc li img { margin:0; padding:0; }
body.models ol.toc li.current { border:1px solid red; background:#eee; }
body.models .trimbox { margin-top:50px; border:1px solid #ccc; }
body.models hr { display:none; }
body.models div.section { border-top:1px solid #ccc; margin-left:35px; page-break-inside:avoid; clear:none; }
body.models div.section .dn { display:block; }
body.models div.section p strong { display:block; }
span.tocbottom { background:none; display:none; }

/* warranty */
body.warranty h2 { display:block !important; margin-left:10px; font-size:14pt; } /* for print only */
body.warranty div#fspec { margin-top:-30px; }

/*
     FILE ARCHIVED ON 23:35:21 Aug 29, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:40:18 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 98.511
  exclusion.robots: 0.163
  exclusion.robots.policy: 0.147
  RedisCDXSource: 0.694
  esindex: 0.01
  LoadShardBlock: 67.817 (3)
  PetaboxLoader3.datanode: 84.752 (4)
  load_resource: 206.799
  PetaboxLoader3.resolve: 160.328
*/