sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 15:08:54 Dec 10, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:12:10 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 90.884
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.075
  cdx.remote: 0.064
  esindex: 0.008
  LoadShardBlock: 45.887 (3)
  PetaboxLoader3.datanode: 57.563 (4)
  load_resource: 65.014
  PetaboxLoader3.resolve: 35.948
*/