div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 11:16:42 Nov 27, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:33:33 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 99.891
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.07
  cdx.remote: 0.058
  esindex: 0.009
  LoadShardBlock: 67.616 (3)
  PetaboxLoader3.datanode: 82.309 (5)
  load_resource: 2119.114 (2)
  PetaboxLoader3.resolve: 2068.574 (2)
*/