div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 18:20:31 Feb 16, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:05:26 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 277.201
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.06
  cdx.remote: 0.061
  esindex: 0.011
  LoadShardBlock: 236.676 (3)
  PetaboxLoader3.datanode: 336.682 (5)
  load_resource: 217.849 (2)
  PetaboxLoader3.resolve: 57.213 (2)
*/