.TabBox { border-top: 2px solid #FFF; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF; border-left: 1px solid #FFF; }
#photoBox { border: 0px; }
#top { visibility: hidden; }
#printPhoto { display: block; }
#photoTable { width: 650px; }
#blogUpdated { border-top: 1px solid #666; background-color: #EEE; margin-top: 5px; margin-bottom: 10px; }
#featuresBar, #checkWeather, #photoRating, #viewComments, #postComment, #blogSort, #blogRead, #blogReport, #more, #blogInfo, #towerAd, #chat, #gutter, #photoTabs, #photoNav, #photoDetails, #photoLinks, #photoBottom, #leftBar, #topNav, #copyNav, #features, #bottomAds, H5 { display: none; }

.leftBar, .noPrint { display: none; }

/*
     FILE ARCHIVED ON 19:43:58 Mar 27, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:31:42 Jul 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 79.866
  exclusion.robots: 0.125
  exclusion.robots.policy: 0.109
  cdx.remote: 0.073
  esindex: 0.011
  LoadShardBlock: 45.575 (3)
  PetaboxLoader3.datanode: 59.095 (4)
  load_resource: 60.001
  PetaboxLoader3.resolve: 30.076
*/