.t-border-top-thick-brand{border-top:.3125rem solid transparent}.t-border-top-print-brand{border-top:1.125rem solid transparent}.t-border-bottom-thin-brand{border-bottom:.0625rem solid transparent}.t-color-brand{color:#fff}
/*
     FILE ARCHIVED ON 21:54:55 Oct 12, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:11:04 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 199.353
  exclusion.robots: 0.089
  exclusion.robots.policy: 0.08
  cdx.remote: 0.066
  esindex: 0.009
  LoadShardBlock: 152.235 (3)
  PetaboxLoader3.datanode: 220.479 (5)
  load_resource: 267.966 (2)
  PetaboxLoader3.resolve: 128.64 (2)
*/