.whitespace 			{	line-height: 20px}

/*
     FILE ARCHIVED ON 04:41:34 Mar 22, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:46:48 Jul 12, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 47.596
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.055
  RedisCDXSource: 0.592
  esindex: 0.007
  LoadShardBlock: 31.49 (3)
  PetaboxLoader3.datanode: 45.277 (4)
  load_resource: 82.293
  PetaboxLoader3.resolve: 34.988
*/