/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 15:06:56 Dec 05, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:29:28 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 79.801
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  RedisCDXSource: 0.949
  esindex: 0.008
  LoadShardBlock: 58.157 (3)
  PetaboxLoader3.datanode: 93.072 (4)
  load_resource: 152.786
  PetaboxLoader3.resolve: 103.701
*/