/*
	Skin Name: Text Thumbnail
	Class: text-thumbnail
	Description: Text Thumbnail skin for Advanced Slider jQuery plugin
	Author: David
*/


/* MAIN SLIDE */

.text-thumbnail .slide-wrapper {
}


.text-thumbnail .slide {
}

/* END OF MAIN SLIDE */


/* SLIDE ARROWS */

.text-thumbnail .slide-arrows a {
	background: url(images/arrows.png) no-repeat;
	width: 30px;
	height: 30px;
	top: 20px;
}

.text-thumbnail .slide-arrows a:hover {
	background: url(images/arrows_hover.png) no-repeat;
}


.text-thumbnail .slide-arrows a.previous {
	right: 90px;
}


.text-thumbnail .slide-arrows a.next {
	right: 20px;
	background-position: -30px 0;
}

/* END SLIDE ARROWS */


/* SLIDESHOW CONTROLS */

.text-thumbnail .slideshow-controls {
	background: url(images/playpause.png) no-repeat;
	width: 30px;
	height: 30px;
	top: 20px;
	right:55px;
}

.text-thumbnail .slideshow-controls:hover {
	background: url(images/playpause_hover.png) no-repeat;
}


.text-thumbnail .slideshow-controls.pause {
	background-position: 0 0;
}


.text-thumbnail .slideshow-controls.play {
	background-position: -30px 0;
}

/* END OF SLIDESHOW CONTROLS */


/* TIMER ANIMATION */

.text-thumbnail .timer-animation {
	top: 20px;
	right: 20px;
}

/* END OF TIMER ANIMATION */


/* SLIDE CAPTION */

.text-thumbnail .caption-container .background {
	background-color: #000;
	width: 100%;
	height: 100%;
}


.text-thumbnail .caption-container .caption {
	color: #FFF;
	margin: 0;
	padding: 8px;
	font-size: 16px;
	line-height: 1;
}

.text-thumbnail .caption-container .caption a {
	color: #FFF;
}

/* END OF SLIDE CAPTION */


/* SLIDE BUTTONS/BULLETS */

/* main container of the navigation buttons */
.text-thumbnail .slide-buttons {
	margin-top: 40px;
}


/* 
 left, right and middle of the main container 
 for this skin, these elements are not styled by default
 feel free to add your own styling
*/
.text-thumbnail .slide-buttons .left, 
.text-thumbnail .slide-buttons .right {
}


.text-thumbnail .slide-buttons .left {
}


.text-thumbnail .slide-buttons .middle {
}


.text-thumbnail .slide-buttons .right {
}


/* this contains the buttons */
.text-thumbnail .slide-buttons .buttons-inner {
}


/* this is a button */
.text-thumbnail .slide-buttons .buttons-inner a {
	background: url(images/buttons.png) no-repeat;
	background-position: 0 0;
	width: 14px;
	height: 14px;
	margin: 0 2px;
}


.text-thumbnail .slide-buttons .buttons-inner a.over {
	background-position: -14px 0; 
}


.text-thumbnail .slide-buttons .buttons-inner a.select {
	background-position: -28px 0; 
}


/* this is used to style the numbers from within the buttons, when they are used */
.text-thumbnail .slide-buttons .buttons-inner a .number {
	margin-top: 2px;
	font-size: 9px;
	line-height: 11px;
	color: #666;
}


.text-thumbnail .slide-buttons .buttons-inner a.over .number {
	font-size: 8px;
	color: #FFF;
}


.text-thumbnail .slide-buttons .buttons-inner a.select .number {
	font-size: 8px;
	color: #FFF;
}


/* 
 applied to the thumbnail when the thumbnail is used only as a tooltip
 sets the distance between the button and the thumbnail
*/
.text-thumbnail .slide-buttons .buttons-inner .thumbnail-wrapper {
	margin-bottom: 10px;
}

/* END OF SLIDE BUTTONS/BULLETS */


/* TOOLTIP */

.advanced-slider-tooltip {
	background-color: #DDD;
	margin-bottom: 20px;
	border: #EEE solid 4px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}


.advanced-slider-tooltip .content {
	color: #999;
	padding: 10px;
	margin: 0;
}

/* END OF TOOLTIP */