@font-face {
  font-family: "LeHavreRough-Primary";
  src: url('/web/20230320023723im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.eot');
  src: url('/web/20230320023723im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.eot#iefix') format('embedded-opentype'),url('/web/20230320023723im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.woff2') format('woff2'),url('/web/20230320023723im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.woff') format('woff'),url('/web/20230320023723im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*
     FILE ARCHIVED ON 02:37:23 Mar 20, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:53:44 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 256.848
  exclusion.robots: 0.111
  exclusion.robots.policy: 0.103
  RedisCDXSource: 81.694
  esindex: 0.009
  LoadShardBlock: 144.73 (3)
  PetaboxLoader3.resolve: 165.244 (4)
  PetaboxLoader3.datanode: 63.091 (4)
  load_resource: 123.144
*/