:root {
    --sa-uid: '0-55df4424-042d-4acf-6c8a-2da381d24db8';
}
/*
     FILE ARCHIVED ON 12:08:26 Mar 11, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:54:56 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.111
  exclusion.robots.policy: 0.101
  RedisCDXSource: 0.903
  esindex: 0.009
  LoadShardBlock: 163.684 (6)
  PetaboxLoader3.datanode: 334.787 (8)
  load_resource: 469.076 (2)
  PetaboxLoader3.resolve: 140.995 (2)
*/