.content {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tableBorder {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.bgDark {
	BACKGROUND-COLOR: #999966
}
.bgLight {
	BACKGROUND-COLOR: #999999
}
.fullBorder {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.style2 {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.style3 {
	FONT-FAMILY: Verdana

/*
     FILE ARCHIVED ON 13:12:10 Oct 12, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:06:22 Jul 20, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 555.835
  exclusion.robots: 0.071
  exclusion.robots.policy: 0.061
  cdx.remote: 0.058
  esindex: 0.011
  LoadShardBlock: 93.907 (3)
  PetaboxLoader3.datanode: 283.992 (4)
  PetaboxLoader3.resolve: 100.641 (2)
  load_resource: 309.084
*/