div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 07:46:53 Jan 12, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:04:03 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 111.299
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.103
  cdx.remote: 0.079
  esindex: 0.01
  LoadShardBlock: 73.583 (3)
  PetaboxLoader3.datanode: 89.53 (5)
  PetaboxLoader3.resolve: 107.27 (3)
  load_resource: 180.963 (2)
*/