@charset "utf-8";
/*!
 *	 Release:	R.4.0.4_IR2
 *	 Revision:	20430
 *	 Date:		2014-01-02T18:18:35+01:00
 *	 Timestamp:	1388683115
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}
/*
     FILE ARCHIVED ON 07:46:19 Jan 12, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:04:04 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 87.421
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.071
  RedisCDXSource: 0.553
  esindex: 0.007
  LoadShardBlock: 54.466 (3)
  PetaboxLoader3.datanode: 59.127 (4)
  load_resource: 831.937
  PetaboxLoader3.resolve: 804.485
*/