span.ext{background:url(/web/20190731122755im_/https://www.arkansas.com/modules/contrib/extlink/extlink_s.png) 2px center no-repeat;width:10px;height:10px;padding-right:12px;text-decoration:none;}span.mailto{background:url(/web/20190731122755im_/https://www.arkansas.com/modules/contrib/extlink/extlink_s.png) -20px center no-repeat;width:10px;height:10px;padding-right:12px;text-decoration:none;}@media print{span.ext,span.mailto{display:none;padding:0;}}
.paragraph--unpublished{background-color:#fff4f4;}
.bef-exposed-form .form--inline .form-item{float:none;}.bef-exposed-form .form--inline > .form-item{float:left;}

/*
     FILE ARCHIVED ON 12:27:55 Jul 31, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:45:04 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 120.789
  exclusion.robots: 0.271
  exclusion.robots.policy: 0.251
  RedisCDXSource: 0.94
  esindex: 0.015
  LoadShardBlock: 90.995 (3)
  PetaboxLoader3.datanode: 41.845 (4)
  PetaboxLoader3.resolve: 70.741 (2)
  load_resource: 45.877
*/