/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 04:34:23 Oct 01, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:46:05 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 219.771
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.067
  cdx.remote: 0.068
  esindex: 0.01
  LoadShardBlock: 74.891 (3)
  PetaboxLoader3.datanode: 157.096 (5)
  load_resource: 192.759 (2)
  PetaboxLoader3.resolve: 72.449 (2)
*/