div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 04:01:54 Mar 12, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:08:23 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.89
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.074
  cdx.remote: 0.052
  esindex: 0.009
  LoadShardBlock: 60.619 (3)
  PetaboxLoader3.datanode: 97.608 (5)
  load_resource: 382.882 (2)
  PetaboxLoader3.resolve: 215.495 (2)
*/