/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 03:36:45 Jan 29, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:50:58 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 140.043
  exclusion.robots: 0.154
  exclusion.robots.policy: 0.139
  cdx.remote: 0.093
  esindex: 0.017
  LoadShardBlock: 73.176 (3)
  PetaboxLoader3.datanode: 58.484 (4)
  PetaboxLoader3.resolve: 60.523 (2)
  load_resource: 79.517
*/