div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 10:38:38 Oct 06, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:24:04 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 113.818
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.058
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 76.294 (3)
  PetaboxLoader3.datanode: 113.0 (4)
  load_resource: 151.258
  PetaboxLoader3.resolve: 93.804
*/