div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 01:33:13 Aug 01, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:27:45 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 222.89
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.057
  esindex: 0.009
  LoadShardBlock: 175.05 (3)
  PetaboxLoader3.datanode: 284.895 (5)
  load_resource: 2033.395 (2)
  PetaboxLoader3.resolve: 1878.968 (2)
*/