sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 14:19:25 Feb 15, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:34:59 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 131.069
  exclusion.robots: 0.273
  exclusion.robots.policy: 0.237
  cdx.remote: 0.095
  esindex: 0.012
  LoadShardBlock: 86.446 (3)
  PetaboxLoader3.datanode: 169.213 (4)
  load_resource: 152.543
  PetaboxLoader3.resolve: 47.724
*/