@font-face {
  font-family: "LeHavreRough-Primary";
  src: url('/web/20230508160934im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.eot');
  src: url('/web/20230508160934im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.eot#iefix') format('embedded-opentype'),url('/web/20230508160934im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.woff2') format('woff2'),url('/web/20230508160934im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.woff') format('woff'),url('/web/20230508160934im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*
     FILE ARCHIVED ON 16:09:34 May 08, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:40:50 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 155.643
  exclusion.robots: 0.126
  exclusion.robots.policy: 0.115
  cdx.remote: 0.062
  esindex: 0.009
  LoadShardBlock: 120.32 (3)
  PetaboxLoader3.datanode: 136.917 (4)
  load_resource: 70.068
  PetaboxLoader3.resolve: 25.235
*/