:root {
    --sa-uid: '';
}
/*
     FILE ARCHIVED ON 04:52:24 May 12, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:41:07 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.088
  exclusion.robots.policy: 0.08
  cdx.remote: 0.079
  esindex: 0.006
  LoadShardBlock: 164.365 (6)
  PetaboxLoader3.datanode: 6536.266 (8)
  load_resource: 6578.115 (2)
  PetaboxLoader3.resolve: 130.786 (2)
*/