div#header { background:transparent url(/web/20070213205102im_/http://www.chevrolet.com/i/06/bg/header-blue.png) top center repeat-y; }
div#container { background:transparent url(/web/20070213205102im_/http://www.chevrolet.com/i/06/bg/curvetop-blue.png) top center no-repeat; }

/* Mac IE Hack \*/
* html div#container { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/curvetop-blue.png',sizingMethod='crop'); }
* html div#header { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/header-blue.png',sizingMethod='scale'); }
/* end hack */
/*
     FILE ARCHIVED ON 20:51:02 Feb 13, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:46:03 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 90.257
  exclusion.robots: 0.132
  exclusion.robots.policy: 0.116
  RedisCDXSource: 0.757
  esindex: 0.01
  LoadShardBlock: 68.499 (3)
  PetaboxLoader3.datanode: 91.843 (4)
  load_resource: 102.878
  PetaboxLoader3.resolve: 35.274
*/