div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 20:33:28 Apr 15, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:10:18 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 207.967
  exclusion.robots: 0.092
  exclusion.robots.policy: 0.081
  cdx.remote: 0.066
  esindex: 0.011
  LoadShardBlock: 171.638 (3)
  PetaboxLoader3.datanode: 153.207 (4)
  load_resource: 541.944
  PetaboxLoader3.resolve: 531.314
*/