
div#pForm{
	margin-left: 3px;
}

div#pForm{
	font-size: 11px;
}

p.instruction{
	font-size: 11px; font-family: verdana; color:#363636;
}

div#vehicleContainer #vehicleImage{
		padding-top: 3px;
}

/*
     FILE ARCHIVED ON 04:13:12 Aug 06, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:25:50 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 162.02
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.064
  RedisCDXSource: 77.066
  esindex: 0.008
  LoadShardBlock: 67.169 (3)
  PetaboxLoader3.datanode: 97.27 (5)
  load_resource: 390.3 (2)
  PetaboxLoader3.resolve: 174.595 (2)
*/