
/*
     FILE ARCHIVED ON 01:20:06 Jul 25, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:25:49 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 121.863
  exclusion.robots: 0.122
  exclusion.robots.policy: 0.111
  RedisCDXSource: 0.603
  esindex: 0.008
  LoadShardBlock: 103.12 (3)
  PetaboxLoader3.datanode: 110.397 (4)
  load_resource: 172.326
  PetaboxLoader3.resolve: 155.374
*/