@charset "utf-8";
/*!
 *	 Release:	5.12.0.8 Segments 1-4 Rev. 960
 *	 Date:		2015-12-10T16:53:04+01:00
 *	 Timestamp:	1449762784
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}@media screen and (-webkit-min-device-pixel-ratio:0){.modTs_img_2{margin:16px 5px auto}}

/*
     FILE ARCHIVED ON 16:29:20 Dec 25, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:26:22 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 161.024
  exclusion.robots: 0.096
  exclusion.robots.policy: 0.085
  cdx.remote: 0.077
  esindex: 0.01
  LoadShardBlock: 99.735 (3)
  PetaboxLoader3.datanode: 222.78 (5)
  load_resource: 356.185 (2)
  PetaboxLoader3.resolve: 224.241 (2)
*/