.tile-copyright-text .l-universal-footer-link a:hover,.tile-help-text .need-help-wrap a:hover{text-decoration:underline}.tile-copyright-text #teconsent{margin-right:.375rem}.tile-copyright-text .l-universal-footer-link{margin-left:.125rem}.tile-copyright-text .l-universal-footer-link:nth-of-type(1) .t-icon-dot{display:none}.tile-copyright-text .t-icon-dot{font-size:.313rem;margin-right:.375rem}.tile-copyright-text .t-icon-mi-globe{padding:0 .05rem;display:inline-block;line-height:1.3;vertical-align:bottom}.tile-help-text .need-help-wrap{padding-top:1.125rem}@media (min-width:48.1rem){.tile-help-text .need-help-wrap{padding-top:3.75rem}}html[lang=zh_CN] .tile-copyright-text p img{vertical-align:middle}
/*
     FILE ARCHIVED ON 01:55:42 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:25 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 91.398
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.072
  RedisCDXSource: 0.587
  esindex: 0.007
  LoadShardBlock: 64.105 (3)
  PetaboxLoader3.datanode: 94.751 (5)
  load_resource: 208.256 (2)
  PetaboxLoader3.resolve: 146.587 (2)
*/