.t-border-top-thick-brand{border-top:.3125rem solid transparent}.t-border-top-print-brand{border-top:1.125rem solid transparent}.t-border-bottom-thin-brand{border-bottom:.0625rem solid transparent}.t-color-brand{color:#fff}
/*
     FILE ARCHIVED ON 01:24:30 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:24 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 123.368
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.055
  cdx.remote: 0.047
  esindex: 0.007
  LoadShardBlock: 60.931 (3)
  PetaboxLoader3.datanode: 104.959 (5)
  load_resource: 250.185 (2)
  PetaboxLoader3.resolve: 175.708 (2)
*/