
/*
     FILE ARCHIVED ON 01:37:25 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:24 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 198.817
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.071
  cdx.remote: 0.057
  esindex: 0.008
  LoadShardBlock: 147.357 (3)
  PetaboxLoader3.datanode: 156.998 (4)
  load_resource: 125.232
  PetaboxLoader3.resolve: 45.254
*/