
/*
     FILE ARCHIVED ON 01:55:45 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:25 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 564.86
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.057
  cdx.remote: 0.051
  esindex: 0.009
  LoadShardBlock: 312.027 (3)
  PetaboxLoader3.resolve: 241.525 (3)
  PetaboxLoader3.datanode: 250.7 (4)
  load_resource: 183.184
*/