
/*
     FILE ARCHIVED ON 01:55:45 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:25 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 81.418
  exclusion.robots: 0.172
  exclusion.robots.policy: 0.158
  cdx.remote: 0.083
  esindex: 0.012
  LoadShardBlock: 40.189 (3)
  PetaboxLoader3.datanode: 48.769 (4)
  load_resource: 44.133
  PetaboxLoader3.resolve: 30.301
*/