
/*
     FILE ARCHIVED ON 23:59:01 Nov 14, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:24 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 309.941
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.071
  cdx.remote: 0.057
  esindex: 0.01
  LoadShardBlock: 271.45 (3)
  PetaboxLoader3.datanode: 267.517 (4)
  load_resource: 291.401
  PetaboxLoader3.resolve: 283.535
*/