
/*
     FILE ARCHIVED ON 22:04:06 Nov 14, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:24 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 253.293
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.054
  cdx.remote: 0.05
  esindex: 0.008
  LoadShardBlock: 222.12 (3)
  PetaboxLoader3.resolve: 155.469 (4)
  PetaboxLoader3.datanode: 129.377 (4)
  load_resource: 88.75
*/