html[lang=ja_JP] .tile-page-title{width:90%}.introductory-page-title,.tile-page-title{word-wrap:break-word}.title-font-line-height-m{font-size:1.5rem;line-height:1.625rem}@media (min-width:37.56rem){html[lang=ja_JP] .tile-page-title{width:100%}.title-font-line-height-m{font-size:1.25rem;line-height:1.5rem}}@media (min-width:64.0625rem){.t-view-details{width:47%}}html[dir=rtl] .tile-page-title{padding-bottom:1rem;line-height:1}@media (min-width:48.1rem){.paragraph-heading{font-size:1.25rem}}
/*
     FILE ARCHIVED ON 23:49:20 Nov 14, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:25 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 77.391
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.056
  cdx.remote: 0.054
  esindex: 0.008
  LoadShardBlock: 53.765 (3)
  PetaboxLoader3.datanode: 92.898 (5)
  load_resource: 237.611 (2)
  PetaboxLoader3.resolve: 76.199 (2)
*/