
/*
     FILE ARCHIVED ON 01:37:27 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:24 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 171.745
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.056
  cdx.remote: 0.051
  esindex: 0.019
  LoadShardBlock: 129.303 (3)
  PetaboxLoader3.datanode: 81.039 (4)
  load_resource: 60.749
  PetaboxLoader3.resolve: 48.37
*/