
/*
     FILE ARCHIVED ON 01:37:31 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:24 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 218.775
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.055
  cdx.remote: 0.06
  esindex: 0.006
  LoadShardBlock: 168.55 (3)
  PetaboxLoader3.datanode: 179.463 (4)
  load_resource: 246.475
  PetaboxLoader3.resolve: 213.682
*/