
/*
     FILE ARCHIVED ON 01:55:46 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:25 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 90.25
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.096
  cdx.remote: 0.068
  esindex: 0.01
  LoadShardBlock: 56.622 (3)
  PetaboxLoader3.datanode: 69.12 (4)
  load_resource: 41.077
  PetaboxLoader3.resolve: 26.089
*/