
/*
     FILE ARCHIVED ON 01:37:29 Nov 15, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:24 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 84.931
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.07
  cdx.remote: 0.06
  esindex: 0.01
  LoadShardBlock: 46.25 (3)
  PetaboxLoader3.datanode: 73.52 (4)
  load_resource: 124.329
  PetaboxLoader3.resolve: 91.225
*/