.whitespace 			{	line-height: 20px}

/*
     FILE ARCHIVED ON 04:31:15 Mar 22, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:18:43 Jul 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 78.457
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.076
  cdx.remote: 0.066
  esindex: 0.011
  LoadShardBlock: 41.633 (3)
  PetaboxLoader3.datanode: 72.117 (4)
  load_resource: 93.813
  PetaboxLoader3.resolve: 33.129
*/