@charset "utf-8";
/*!
 *	 Release:	6.03.0.13 Segments 1-4 Rev.1270
 *	 Date:		2016-03-07T23:10:40+01:00
 *	 Timestamp:	1457388640
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}@media screen and (-webkit-min-device-pixel-ratio:0){.modTs_img_2{margin:16px 5px auto}}

/*
     FILE ARCHIVED ON 01:50:34 Mar 19, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:31:12 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 239.463
  exclusion.robots: 0.105
  exclusion.robots.policy: 0.089
  cdx.remote: 0.087
  esindex: 0.011
  LoadShardBlock: 186.407 (3)
  PetaboxLoader3.datanode: 147.352 (5)
  load_resource: 259.288 (2)
  PetaboxLoader3.resolve: 174.232 (2)
*/