sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 15:08:54 Dec 10, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:24:56 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 193.618
  exclusion.robots: 0.145
  exclusion.robots.policy: 0.128
  RedisCDXSource: 1.341
  esindex: 0.011
  LoadShardBlock: 160.513 (3)
  PetaboxLoader3.resolve: 294.543 (3)
  PetaboxLoader3.datanode: 53.535 (4)
  load_resource: 193.64
*/