
div#pForm{
	margin-left: 3px;
}

div#pForm{
	font-size: 11px;
}

p.instruction{
	font-size: 11px; font-family: verdana; color:#363636;
}

div#vehicleContainer #vehicleImage{
		padding-top: 3px;
}

/*
     FILE ARCHIVED ON 21:16:46 Feb 19, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:38:10 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 127.807
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.055
  cdx.remote: 0.052
  esindex: 0.008
  LoadShardBlock: 104.901 (3)
  PetaboxLoader3.datanode: 103.767 (4)
  load_resource: 121.37
  PetaboxLoader3.resolve: 67.662
*/