sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 03:10:50 Oct 24, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:07:18 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 122.197
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.059
  cdx.remote: 0.057
  esindex: 0.008
  LoadShardBlock: 81.31 (3)
  PetaboxLoader3.datanode: 67.443 (4)
  load_resource: 90.392
  PetaboxLoader3.resolve: 44.034
*/