div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 03:30:12 Sep 18, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:29:39 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 112.021
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.075
  cdx.remote: 0.056
  esindex: 0.009
  LoadShardBlock: 85.023 (3)
  PetaboxLoader3.datanode: 287.735 (5)
  load_resource: 1606.269 (2)
  PetaboxLoader3.resolve: 1337.333 (2)
*/