div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 10:21:40 Dec 23, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:35:03 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 83.018
  exclusion.robots: 0.073
  exclusion.robots.policy: 0.061
  cdx.remote: 0.066
  esindex: 0.008
  LoadShardBlock: 50.688 (3)
  PetaboxLoader3.datanode: 65.91 (5)
  load_resource: 134.176 (2)
  PetaboxLoader3.resolve: 71.143 (2)
*/