@import '/web/20110131184926cs_/http://www.hunterfan.com/css/screen.css' screen;
@import '/web/20110131184926cs_/http://www.hunterfan.com/css/forms.css' screen;
@import '/web/20110131184926cs_/http://www.hunterfan.com/css/print.css' print;
@import '/web/20110131184926cs_/http://www.hunterfan.com/css/mobile.css' handheld; 
@import '/web/20110131184926cs_/http://www.hunterfan.com/css/mobile.css' only screen and (max-device-width:480px);
/*
     FILE ARCHIVED ON 18:49:26 Jan 31, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:53:51 Jul 17, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 343.022
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.056
  cdx.remote: 0.053
  esindex: 0.007
  LoadShardBlock: 313.861 (3)
  PetaboxLoader3.datanode: 342.256 (4)
  load_resource: 406.511
  PetaboxLoader3.resolve: 258.099
*/