div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 07:22:25 Aug 02, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:45:19 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 144.205
  exclusion.robots: 0.098
  exclusion.robots.policy: 0.088
  RedisCDXSource: 0.775
  esindex: 0.009
  LoadShardBlock: 117.717 (3)
  PetaboxLoader3.datanode: 138.701 (4)
  load_resource: 951.025
  PetaboxLoader3.resolve: 878.871
*/