@charset "utf-8";
/*!
 *	 Release:	R.3.7.5_HF2
 *	 Revision:	17973
 *	 Date:		2013-07-15T20:21:54+02:00
 *	 Timestamp:	1373912514
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}
.t02 #container{max-width:none}
.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
/*
     FILE ARCHIVED ON 01:49:15 Jul 29, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:45:18 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 210.089
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.06
  RedisCDXSource: 0.515
  esindex: 0.006
  LoadShardBlock: 188.546 (3)
  PetaboxLoader3.datanode: 233.03 (4)
  load_resource: 207.438
  PetaboxLoader3.resolve: 89.4
*/