#google_translate_element {
	display: none;
}
.googleTranslate {
}
.googleTranslateDropdown {
	background: rgba(188,188,188,0.5);
	color: #787878;
	font: normal 15px "AvantGardeGothicITCW01D_731075";
	width: 215px;
	margin: 0 auto;
	border-radius: 3px;
}
/*
     FILE ARCHIVED ON 19:34:42 Jun 24, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:21:06 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 325.177
  exclusion.robots: 0.121
  exclusion.robots.policy: 0.106
  cdx.remote: 0.065
  esindex: 0.01
  LoadShardBlock: 289.109 (3)
  PetaboxLoader3.datanode: 300.216 (4)
  load_resource: 137.665
  PetaboxLoader3.resolve: 88.087
*/