/*
	This file will be included in header in every page after foundation.
	It should be used for content that relates
	to your site as a whole, it should not be used for
	plugin-specific css
*/
/*
     FILE ARCHIVED ON 19:45:56 Jun 24, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:21:07 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 331.393
  exclusion.robots: 0.131
  exclusion.robots.policy: 0.116
  cdx.remote: 0.098
  esindex: 0.013
  LoadShardBlock: 124.901 (3)
  PetaboxLoader3.datanode: 153.242 (4)
  load_resource: 129.965
  PetaboxLoader3.resolve: 84.48
*/