/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 12:34:33 Feb 19, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:03:44 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 86.283
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.065
  RedisCDXSource: 5.091
  esindex: 0.009
  LoadShardBlock: 62.558 (3)
  PetaboxLoader3.datanode: 73.18 (4)
  load_resource: 58.962
  PetaboxLoader3.resolve: 32.452
*/