
font, p, td, tr { color: black; font-size: 10pt; font-family: Arial, Helvetica, Swiss, SunSans-Regular }

/*
     FILE ARCHIVED ON 20:53:42 Feb 23, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:03:09 Jul 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 129.457
  exclusion.robots: 0.123
  exclusion.robots.policy: 0.11
  RedisCDXSource: 0.766
  esindex: 0.011
  LoadShardBlock: 103.204 (3)
  PetaboxLoader3.resolve: 109.411 (2)
  PetaboxLoader3.datanode: 60.758 (4)
  load_resource: 107.814
*/