/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 03:24:27 Oct 29, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:47:35 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 173.298
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.064
  RedisCDXSource: 0.582
  esindex: 0.008
  LoadShardBlock: 149.794 (3)
  PetaboxLoader3.datanode: 116.741 (5)
  load_resource: 261.789 (2)
  PetaboxLoader3.resolve: 166.742 (2)
*/