sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 03:10:50 Oct 24, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:44:55 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 170.553
  exclusion.robots: 0.115
  exclusion.robots.policy: 0.101
  RedisCDXSource: 0.75
  esindex: 0.012
  LoadShardBlock: 139.53 (3)
  PetaboxLoader3.resolve: 122.487 (4)
  PetaboxLoader3.datanode: 47.014 (4)
  load_resource: 34.655
*/