div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 16:51:35 Mar 20, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:11:16 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 561.698
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.059
  cdx.remote: 0.066
  esindex: 0.008
  LoadShardBlock: 522.327 (3)
  PetaboxLoader3.datanode: 561.659 (5)
  load_resource: 1740.459 (2)
  PetaboxLoader3.resolve: 1665.071 (2)
*/