
BODY, TH, TD, P { font-family: Verdana, Arial, Sans-Serif }

/*
     FILE ARCHIVED ON 12:11:23 Apr 05, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:01:05 Jul 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 134.51
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.058
  cdx.remote: 0.055
  esindex: 0.007
  LoadShardBlock: 95.441 (3)
  PetaboxLoader3.datanode: 91.337 (4)
  load_resource: 609.261
  PetaboxLoader3.resolve: 577.301
*/