div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 10:12:44 Jul 02, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:26:26 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 93.442
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.056
  esindex: 0.01
  LoadShardBlock: 60.085 (3)
  PetaboxLoader3.datanode: 93.934 (5)
  load_resource: 513.588 (2)
  PetaboxLoader3.resolve: 455.667 (2)
*/