@charset "utf-8";
/*!
 *	 Release:	R.4.6.7
 *	 Revision:	22068
 *	 Date:		2014-06-04T20:08:03+02:00
 *	 Timestamp:	1401905283
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}
/*
     FILE ARCHIVED ON 10:12:19 Jul 02, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:26:27 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 113.496
  exclusion.robots: 0.097
  exclusion.robots.policy: 0.086
  cdx.remote: 0.064
  esindex: 0.009
  LoadShardBlock: 83.363 (3)
  PetaboxLoader3.datanode: 115.196 (5)
  load_resource: 986.701 (2)
  PetaboxLoader3.resolve: 925.213 (2)
*/