
div#pForm{
	margin-left: 3px;
}

div#pForm{
	font-size: 11px;
}

p.instruction{
	font-size: 11px; font-family: verdana; color:#363636;
}

div#vehicleContainer #vehicleImage{
		padding-top: 3px;
}

/*
     FILE ARCHIVED ON 00:50:51 Dec 25, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:50:00 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 135.687
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.059
  RedisCDXSource: 0.784
  esindex: 0.007
  LoadShardBlock: 117.746 (3)
  PetaboxLoader3.datanode: 133.168 (4)
  load_resource: 157.279
  PetaboxLoader3.resolve: 129.684
*/