/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 08:08:22 Dec 25, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:50:00 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 205.654
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.059
  esindex: 0.01
  LoadShardBlock: 181.345 (3)
  PetaboxLoader3.datanode: 170.171 (4)
  load_resource: 222.272
  PetaboxLoader3.resolve: 193.086
*/