.search-result-container{max-width:1024px}.gcsc-branding{display:none}#cse .gsc-result{border-bottom:0px}#cse .gsc-result .gs-title{height:auto;margin-bottom:7px}.googleSearchPanel{height:100px;background-color:#d2d2d2;padding:15px 10px 10px 10px;margin-bottom:30px}.googleSearchPanel h2{font-size:18px;font-weight:600}.googleSearchPanel .search-wrapper{display:table;width:100%}.googleSearchPanel .search-wrapper .search-row{display:table-row}.googleSearchPanel .search-wrapper .search-col{display:table-cell}.googleSearchPanel .search-wrapper .search-col.search-input{width:100%}.googleSearchPanel .search-wrapper .search-col.search-input input{width:100%;height:34px;padding-top:2px}.googleSearchPanel .search-wrapper .search-col.search-input input::-webkit-input-placeholder{color:#1c1c1c}.googleSearchPanel .search-wrapper .search-col.search-input input:-moz-placeholder{color:#1c1c1c;opacity:1}.googleSearchPanel .search-wrapper .search-col.search-input input::-moz-placeholder{color:#1c1c1c;opacity:1}.googleSearchPanel .search-wrapper .search-col.search-input input:-ms-input-placeholder{color:#1c1c1c}.googleSearchPanel .search-wrapper .search-col.search-button{white-space:nowrap;padding-left:10px}.googleSearchPanel .search-wrapper .search-col.search-button .m-button-default,.googleSearchPanel .search-wrapper .search-col.search-button .m-button-default-hover{margin-right:0px}@media(min-width:30em){.googleSearchPanel h1{font-weight:400}}@media(min-width:35em){.googleSearchPanel{height:125px;padding:25px 10px 10px 10px}.googleSearchPanel h1{font-size:30px;font-weight:400}}
/*
     FILE ARCHIVED ON 18:15:17 Aug 26, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:54:06 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 95.053
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.073
  cdx.remote: 0.063
  esindex: 0.011
  LoadShardBlock: 50.541 (3)
  PetaboxLoader3.datanode: 111.737 (5)
  load_resource: 179.751 (2)
  PetaboxLoader3.resolve: 81.474 (2)
*/