#find-panel .searchLinks a,#find-panel .searchLinks a:visited{color:#2574b4}.searchLinks li a,.searchLinks li a:link{font-size:14px}.searchLinks li a .external-link,.searchLinks li a:link .external-link{padding-left:.25em}.searchLinks .t-list-unbulletted li{margin:11px 0}@media (min-width:64em){.flexClass{display:-ms-flexbox;display:flex;overflow:hidden}}@media (max-width:45em){.col-wrap .l-l-col-6{margin-top:.5em}}
/*
     FILE ARCHIVED ON 04:53:34 Aug 29, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:54:09 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 89.996
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.066
  RedisCDXSource: 2.019
  esindex: 0.007
  LoadShardBlock: 59.657 (3)
  PetaboxLoader3.datanode: 52.259 (5)
  load_resource: 436.518 (2)
  PetaboxLoader3.resolve: 389.332 (2)
*/