.t-border-top-thick-brand{border-top:.3125rem solid transparent}.t-border-top-print-brand{border-top:1.125rem solid transparent}.t-border-bottom-thin-brand{border-bottom:.0625rem solid transparent}.t-color-brand{color:#fff}
/*
     FILE ARCHIVED ON 01:32:16 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 67.995
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.067
  RedisCDXSource: 0.63
  esindex: 0.008
  LoadShardBlock: 49.883 (3)
  PetaboxLoader3.datanode: 47.041 (4)
  load_resource: 62.456
  PetaboxLoader3.resolve: 42.426
*/