
/*
     FILE ARCHIVED ON 01:32:25 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 66.815
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 37.642 (3)
  PetaboxLoader3.datanode: 42.74 (4)
  load_resource: 62.879
  PetaboxLoader3.resolve: 53.048
*/