
/*
     FILE ARCHIVED ON 01:32:21 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 65.614
  exclusion.robots: 0.132
  exclusion.robots.policy: 0.117
  cdx.remote: 0.094
  esindex: 0.011
  LoadShardBlock: 40.576 (3)
  PetaboxLoader3.datanode: 46.146 (4)
  load_resource: 50.121
  PetaboxLoader3.resolve: 37.465
*/