
/*
     FILE ARCHIVED ON 01:32:17 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 95.042
  exclusion.robots: 0.129
  exclusion.robots.policy: 0.116
  cdx.remote: 0.114
  esindex: 0.011
  LoadShardBlock: 53.173 (3)
  PetaboxLoader3.datanode: 54.672 (4)
  load_resource: 28.793
  PetaboxLoader3.resolve: 22.309
*/