
/*
     FILE ARCHIVED ON 01:32:18 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 86.494
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.06
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 59.587 (3)
  PetaboxLoader3.datanode: 66.897 (4)
  load_resource: 109.974
  PetaboxLoader3.resolve: 94.831
*/