
/*
     FILE ARCHIVED ON 01:32:27 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 66.115
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.067
  RedisCDXSource: 0.598
  esindex: 0.008
  LoadShardBlock: 47.339 (3)
  PetaboxLoader3.datanode: 104.45 (4)
  load_resource: 96.183
  PetaboxLoader3.resolve: 26.407
*/