html[lang=ja_JP] .tile-page-title{width:90%}.introductory-page-title,.tile-page-title{word-wrap:break-word}.title-font-line-height-m{font-size:1.5rem;line-height:1.625rem}@media (min-width:37.56rem){html[lang=ja_JP] .tile-page-title{width:100%}.title-font-line-height-m{font-size:1.25rem;line-height:1.5rem}}@media (min-width:64.0625rem){.t-view-details{width:47%}}html[dir=rtl] .tile-page-title{padding-bottom:1rem;line-height:1}@media (min-width:48.1rem){.paragraph-heading{font-size:1.25rem}}
/*
     FILE ARCHIVED ON 10:52:56 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 89.933
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.06
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 64.477 (3)
  PetaboxLoader3.datanode: 81.93 (5)
  load_resource: 203.676 (2)
  PetaboxLoader3.resolve: 139.365 (2)
*/