
/*
     FILE ARCHIVED ON 01:32:25 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 161.181
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.069
  RedisCDXSource: 1.413
  esindex: 0.008
  LoadShardBlock: 140.728 (3)
  PetaboxLoader3.resolve: 51.6 (2)
  PetaboxLoader3.datanode: 111.951 (4)
  load_resource: 26.424
*/