
/*
     FILE ARCHIVED ON 01:32:26 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 796.59
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.059
  RedisCDXSource: 0.632
  esindex: 0.006
  LoadShardBlock: 774.422 (3)
  PetaboxLoader3.resolve: 489.042 (4)
  PetaboxLoader3.datanode: 370.295 (4)
  load_resource: 96.336
*/