
/*
     FILE ARCHIVED ON 01:32:23 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 190.454
  exclusion.robots: 0.088
  exclusion.robots.policy: 0.079
  cdx.remote: 0.054
  esindex: 0.008
  LoadShardBlock: 159.628 (3)
  PetaboxLoader3.datanode: 154.368 (4)
  load_resource: 53.253
  PetaboxLoader3.resolve: 36.126
*/