.tile-transactional-footer section{margin-bottom:1.1rem}.tile-transactional-footer section h3{padding-bottom:1.25rem}@media (min-width:48.1rem){.tile-transactional-footer section h3{padding-bottom:.5rem}}.tile-transactional-footer section h3 .t-footer-icon{font-size:.5rem}.tile-transactional-footer section .t-footer-links-list{margin-top:-.75rem;display:none;padding-bottom:.9375rem}.tile-transactional-footer section .t-footer-links-list li a:hover{text-decoration:underline}@media (min-width:48.1rem){.tile-transactional-footer section .t-footer-links-list{display:block;margin-top:0}}.tile-transactional-footer section .t-footer-links-list li{padding-top:0;padding-bottom:.3125rem}@media print{.tile-transactional-footer{display:none}}@media (min-width:48.1rem){[id^=TransactionalFooterLinks]:last-of-type ul{padding-bottom:0}[id^=TransactionalFooterLinks]:last-of-type section{margin-bottom:0;border:none}}
/*
     FILE ARCHIVED ON 01:32:27 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 75.627
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.065
  RedisCDXSource: 0.532
  esindex: 0.014
  LoadShardBlock: 56.14 (3)
  PetaboxLoader3.datanode: 89.553 (4)
  load_resource: 92.821
  PetaboxLoader3.resolve: 46.933
*/