
/*
     FILE ARCHIVED ON 01:32:21 Aug 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:59:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 55.416
  exclusion.robots: 0.095
  exclusion.robots.policy: 0.074
  RedisCDXSource: 0.647
  esindex: 0.008
  LoadShardBlock: 31.37 (3)
  PetaboxLoader3.datanode: 32.969 (4)
  load_resource: 44.428
  PetaboxLoader3.resolve: 23.092
*/