div#header { background:transparent url(/web/20070508201930im_/http://www.chevrolet.com/i/06/bg/header-blue.png) top center repeat-y; }
div#container { background:transparent url(/web/20070508201930im_/http://www.chevrolet.com/i/06/bg/curvetop-blue.png) top center no-repeat; }

/* Mac IE Hack \*/
* html div#container { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/curvetop-blue.png',sizingMethod='crop'); }
* html div#header { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/header-blue.png',sizingMethod='scale'); }
/* end hack */
/*
     FILE ARCHIVED ON 20:19:30 May 08, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:49:58 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 68.346
  exclusion.robots: 0.072
  exclusion.robots.policy: 0.062
  RedisCDXSource: 1.017
  esindex: 0.01
  LoadShardBlock: 50.494 (3)
  PetaboxLoader3.datanode: 82.448 (4)
  load_resource: 97.697
  PetaboxLoader3.resolve: 44.719
*/