.t-border-top-thick-brand{border-top:.3125rem solid transparent}.t-border-top-print-brand{border-top:1.125rem solid transparent}.t-border-bottom-thin-brand{border-bottom:.0625rem solid transparent}.t-color-brand{color:#fff}
/*
     FILE ARCHIVED ON 11:23:51 Sep 06, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:09:21 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 632.211
  exclusion.robots: 0.08
  exclusion.robots.policy: 0.07
  cdx.remote: 0.062
  esindex: 0.162
  LoadShardBlock: 602.091 (3)
  PetaboxLoader3.datanode: 615.539 (4)
  load_resource: 149.842
  PetaboxLoader3.resolve: 115.997
*/