div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 11:07:26 Oct 18, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:31:20 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 83.122
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.054
  cdx.remote: 0.053
  esindex: 0.008
  LoadShardBlock: 52.329 (3)
  PetaboxLoader3.datanode: 76.613 (5)
  load_resource: 4791.95 (2)
  PetaboxLoader3.resolve: 4732.735 (2)
*/