
div#pForm{
	margin-left: 3px;
}

div#pForm{
	font-size: 11px;
}

p.instruction{
	font-size: 11px; font-family: verdana; color:#363636;
}

div#vehicleContainer #vehicleImage{
		padding-top: 3px;
}

/*
     FILE ARCHIVED ON 01:37:01 Jul 13, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:42:36 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 63.094
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.076
  RedisCDXSource: 0.804
  esindex: 0.008
  LoadShardBlock: 41.851 (3)
  PetaboxLoader3.datanode: 45.466 (4)
  load_resource: 107.494
  PetaboxLoader3.resolve: 51.701
*/