/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 01:37:19 Jul 13, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:42:38 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 72.93
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.054
  RedisCDXSource: 0.961
  esindex: 0.009
  LoadShardBlock: 54.798 (3)
  PetaboxLoader3.datanode: 79.384 (4)
  load_resource: 91.03
  PetaboxLoader3.resolve: 44.723
*/