@charset "utf-8";
/*!
 *	 Release:	R.4.0.4_HF4
 *	 Revision:	20385
 *	 Date:		2013-12-18T19:15:14+01:00
 *	 Timestamp:	1387390514
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}
/*
     FILE ARCHIVED ON 15:18:19 Jan 01, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:02:17 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 190.606
  exclusion.robots: 0.062
  exclusion.robots.policy: 0.056
  cdx.remote: 0.047
  esindex: 0.007
  LoadShardBlock: 165.988 (3)
  PetaboxLoader3.datanode: 187.739 (5)
  load_resource: 1893.074 (2)
  PetaboxLoader3.resolve: 1806.593 (2)
*/