div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 14:32:24 Jun 25, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:24:24 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 314.265
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.057
  cdx.remote: 0.063
  esindex: 0.008
  LoadShardBlock: 247.542 (3)
  PetaboxLoader3.datanode: 287.709 (5)
  load_resource: 152.406 (2)
  PetaboxLoader3.resolve: 76.104 (2)
*/