/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 15:38:30 Feb 14, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:03:07 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 94.982
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.063
  RedisCDXSource: 17.083
  esindex: 0.007
  LoadShardBlock: 59.799 (3)
  PetaboxLoader3.datanode: 63.322 (4)
  load_resource: 66.485
  PetaboxLoader3.resolve: 31.321
*/