#signupgenius_Desktop_Misc_Other_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Misc_Other_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_Blog_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_Blog_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_Business_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_Business_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_Church_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_Church_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_College_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_College_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_Family_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_Family_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_Groups_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_Groups_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_Main_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_Main_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_NonProfit_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_NonProfit_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_School_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_School_320x50_Top {
		height: 50px;
}
#signupgenius_Desktop_Resources_Sports_320x50_Bot {
		height: 50px;
}
#signupgenius_Desktop_Resources_Sports_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Anchor_320x50 {
		height: 50px;
}
#signupgenius_Mobile_Members_Dashboard_300x250_Mid {
		height: 250px;
}
#signupgenius_Mobile_Members_Dashboard_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Members_Form_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Members_Groups_300x250_Mid {
		height: 250px;
}
#signupgenius_Mobile_Members_Groups_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Members_Groups_336x280_Mid {
		height: 280px;
}
#signupgenius_Mobile_Members_Messages_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Members_Reports_300x250_Bot {
		height: 250px;
}
#signupgenius_Mobile_Members_Reports_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Members_Reports_336x280_Bot {
		height: 280px;
}
#signupgenius_Mobile_Members_Reports_336x280_Mid {
		height: 280px;
}
#signupgenius_Mobile_Members_Reports_336x280_Mid2 {
		height: 280px;
}
#signupgenius_Mobile_Misc_FindSignUp_300x250_Bot {
		height: 250px;
}
#signupgenius_Mobile_Misc_FindSignUp_300x250_Mid {
		height: 250px;
}
#signupgenius_Mobile_Misc_FindSignUp_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Misc_FindSignUp_336x280_Bot {
		height: 280px;
}
#signupgenius_Mobile_Misc_FindSignUp_336x280_Mid {
		height: 280px;
}
#signupgenius_Mobile_Misc_ForgotPW_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Misc_Other_300x250_Mid {
		height: 250px;
}
#signupgenius_Mobile_Misc_Other_300x250_Mid2 {
		height: 250px;
}
#signupgenius_Mobile_Misc_Other_320x50_Bot {
		height: 250px;
}
#signupgenius_Mobile_Misc_Other_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_Misc_Other_336x280_Mid {
		height: 280px;
}
#signupgenius_Mobile_Resources_Main_300x250_Mid {
		height: 250px;
}
#signupgenius_Mobile_SignUps_Confirmation_300x250_Bottom {
		height: 250px;
}
#signupgenius_Mobile_SignUps_Confirmation_300x250_Top {
		height: 250px;
}
#signupgenius_Mobile_SignUps_Confirmation_336x280_Top {
		height: 280px;
}
#signupgenius_Mobile_SignUps_Form_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_SignUps_Other_300x250_Top {
		height: 250px;
}
#signupgenius_Mobile_SignUps_Other_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_SignUps_Other_336x280_Top {
		height: 280px;
}
#signupgenius_Mobile_SignUps_Sheet_300x250_Bot {
		height: 250px;
}
#signupgenius_Mobile_SignUps_Sheet_300x250_Mid {
		height: 250px;
}
#signupgenius_Mobile_SignUps_Sheet_300x250_Mid2 {
		height: 250px;
}
#signupgenius_Mobile_SignUps_Sheet_320x50_Top {
		height: 50px;
}
#signupgenius_Mobile_SignUps_Sheet_336x280_Bot {
		height: 280px;
}
#signupgenius_Mobile_SignUps_Sheet_336x280_Mid {
		height: 280px;
}
#signupgenius_Mobile_SignUps_Sheet_336x280_Mid2 {
		height: 280px;
}
@media only screen and (min-device-width: 768px) {
	#signupgenius_Desktop_Main_Other_160x600_Left {
		height: 600px;
	}
	#signupgenius_Desktop_Main_Other_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Main_Other_300x600_Left {
		height: 600px;
	}
	#signupgenius_Desktop_Main_Other_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Main_Other_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Builder_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Builder_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Builder_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Builder_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Members_Builder_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Dashboard_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Dashboard_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Dashboard_320x50_Bot {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Dashboard_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Dashboard_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Dashboard_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Dashboard_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Members_Dashboard_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Groups_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Groups_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Groups_320x50_Bot {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Groups_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Groups_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Groups_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Groups_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Members_Groups_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Message_320x50_Bot {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Message_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Messages_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Messages_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Messages_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Messages_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Messages_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Members_Messages_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Other_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Other_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Other_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Other_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Other_970x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Other_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Reports_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Reports_320x50_Bot {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Reports_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Reports_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Reports_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Reports_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Members_Reports_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Tools_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Tools_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Tools_320x50_Bot {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Tools_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Tools_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Tools_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Tools_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Members_Tools_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Wizard_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Members_Wizard_320x50_Bot {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Wizard_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Members_Wizard_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Wizard_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Wizard_970x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Members_Wizard_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_FindSignUp_160x600_Left {
		height: 600px;
	}
	#signupgenius_Desktop_Misc_FindSignUp_300x600_Left {
		height: 600px;
	}
	#signupgenius_Desktop_Misc_FindSignUp_320x50_Bot {
		height: 50px;
	}
	#signupgenius_Desktop_Misc_FindSignUp_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Misc_FindSignUp_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_FindSignUp_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_FindSignUp_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Misc_FindSignUp_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_ForgotPW_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Misc_ForgotPW_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_ForgotPW_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_Login_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Misc_Login_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_Login_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_Logout_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Misc_Logout_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_Logout_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_Other_160x600_Left {
		height: 600px;
	}
	#signupgenius_Desktop_Misc_Other_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Misc_Other_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Misc_Other_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Misc_Other_300x600_Left {
		height: 600px;
	}
	#signupgenius_Desktop_Misc_Other_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Misc_Other_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Misc_Other_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Misc_Other_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_Other_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Misc_Other_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Misc_Other_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Blog_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Blog_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Blog_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Blog_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Blog_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Blog_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Blog_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_Blog_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Blog_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Blog_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Blog_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Blog_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Business_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Business_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Business_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Business_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Business_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Business_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Business_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_Business_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Business_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Business_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Business_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Business_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Church_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Church_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Church_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Church_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Church_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Church_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Church_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_Church_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Church_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Church_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Church_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Church_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_College_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_College_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_College_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_College_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_College_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_College_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_College_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_College_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_College_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_College_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_College_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_College_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Family_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Family_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Family_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Family_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Family_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Family_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Family_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_Family_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Family_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Family_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Family_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Family_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Groups_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Groups_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Groups_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Groups_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Groups_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Groups_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Groups_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_Groups_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Groups_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Groups_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Groups_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Groups_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Main_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Main_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Main_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Main_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Main_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Main_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Main_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_Main_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Main_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Main_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Main_810x250_Mid {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Main_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Main_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_NonProfit_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_NonProfit_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_NonProfit_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_NonProfit_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_NonProfit_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_NonProfit_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_NonProfit_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_NonProfit_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_NonProfit_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_NonProfit_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_NonProfit_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Nonprofit_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_School_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_School_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_School_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_School_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_School_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_School_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_School_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_School_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_School_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_School_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_School_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Sports_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Sports_300x250_Mid {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Sports_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Sports_300x250_Right_secondary {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Sports_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_Resources_Sports_320x50_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Sports_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_Resources_Sports_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Sports_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Sports_810x250_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_Resources_Sports_970x90_Bot {
		height: 250px;
	}
	#signupgenius_Desktop_Resources_Sports_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_SignUps_Confirmation_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Confirmation_300x250_Right {
		height: 250px;
	}
	#signupgenius_Desktop_SignUps_Confirmation_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Confirmation_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_SignUps_Confirmation_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_SignUps_Confirmation_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_SignUps_Form_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Form_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Form_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_SignUps_Form_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_SignUps_Form_970x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_SignUps_Sheet_160x600_Left {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Sheet_160x600_Left_Secondary {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Sheet_160x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Sheet_160x600_Right_Secondary {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Sheet_300x600_Left {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Sheet_300x600_Left_Secondary {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Sheet_300x600_Right {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Sheet_300x600_Right_Secondary {
		height: 600px;
	}
	#signupgenius_Desktop_SignUps_Sheet_320x50_Bot {
		height: 50px;
	}
	#signupgenius_Desktop_SignUps_Sheet_320x50_Top {
		height: 50px;
	}
	#signupgenius_Desktop_SignUps_Sheet_728x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_SignUps_Sheet_728x90_Top {
		height: 90px;
	}
	#signupgenius_Desktop_SignUps_Sheet_970x90_Bot {
		height: 90px;
	}
	#signupgenius_Desktop_SignUps_Sheet_970x90_Top {
		height: 90px;
	}
}
