@font-face {
  font-family: "LeHavreRough-Primary";
  src: url('/web/20220131234113im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.eot');
  src: url('/web/20220131234113im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.eot#iefix') format('embedded-opentype'),url('/web/20220131234113im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.woff2') format('woff2'),url('/web/20220131234113im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.woff') format('woff'),url('/web/20220131234113im_/https://www.arkansas.com/themes/custom/ark_cog/fonts/lehavrerough-primary/35CCED_0_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*
     FILE ARCHIVED ON 23:41:13 Jan 31, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:42:05 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 227.946
  exclusion.robots: 0.094
  exclusion.robots.policy: 0.087
  cdx.remote: 0.044
  esindex: 0.006
  LoadShardBlock: 199.687 (3)
  PetaboxLoader3.datanode: 173.893 (4)
  load_resource: 85.237
  PetaboxLoader3.resolve: 40.714
*/