:root {
    --sa-uid: '0-85d83202-ba15-4db4-6670-ae7d7093ab6c';
}
/*
     FILE ARCHIVED ON 21:53:37 Jan 31, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:42:12 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.121
  exclusion.robots.policy: 0.11
  cdx.remote: 0.117
  esindex: 0.011
  LoadShardBlock: 220.518 (6)
  PetaboxLoader3.datanode: 94.861 (7)
  load_resource: 150.808
  PetaboxLoader3.resolve: 117.359
*/