#cluetip{z-index:100!important}.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead>.mh_c1>.modMh_1{max-width:none;width:100%}.withType2Scroller .masthead>.mh_c1>.modMh_1 .mh_item_1{position:absolute}.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}.modTs_img_2{margin:16px 6px auto}@media screen and (-webkit-min-device-pixel-ratio:0){.modTs_img_2{margin:16px 5px auto}}
/*
     FILE ARCHIVED ON 15:09:23 Nov 09, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:45:08 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 162.848
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.058
  cdx.remote: 0.056
  esindex: 0.007
  LoadShardBlock: 77.243 (3)
  PetaboxLoader3.datanode: 92.438 (5)
  load_resource: 263.032 (2)
  PetaboxLoader3.resolve: 216.663 (2)
*/