@charset "utf-8";
/*!
 *	 Release:	5.11.0.13 Segments 1-4 Rev.869
 *	 Date:		2015-11-05T00:48:43+01:00
 *	 Timestamp:	1446680923
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}@media screen and (-webkit-min-device-pixel-ratio:0){.modTs_img_2{margin:16px 5px auto}}

/*
     FILE ARCHIVED ON 07:25:38 Nov 27, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:25:16 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 182.018
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.056
  cdx.remote: 0.05
  esindex: 0.009
  LoadShardBlock: 125.593 (3)
  PetaboxLoader3.datanode: 173.314 (5)
  load_resource: 359.856 (2)
  PetaboxLoader3.resolve: 216.322 (2)
*/