div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 18:35:25 May 26, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:12:24 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 190.343
  exclusion.robots: 0.129
  exclusion.robots.policy: 0.114
  cdx.remote: 0.093
  esindex: 0.012
  LoadShardBlock: 51.263 (3)
  PetaboxLoader3.datanode: 69.15 (5)
  load_resource: 248.444 (2)
  PetaboxLoader3.resolve: 192.275
*/