@charset "utf-8";
/*!
 *	 Release:	5.05.0.6 Segments 1-4
 *	 Date:		2015-05-14T22:53:35+02:00
 *	 Timestamp:	1431636815
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}

/*
     FILE ARCHIVED ON 15:14:44 May 24, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:12:24 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 93.686
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.058
  cdx.remote: 0.053
  esindex: 0.011
  LoadShardBlock: 58.956 (3)
  PetaboxLoader3.datanode: 121.758 (5)
  load_resource: 275.064 (2)
  PetaboxLoader3.resolve: 114.422 (2)
*/