.headerbox-search-form {
	--font-family-body: var(--font-body);
	--search-icon: var(--gray-100);
	--seach-input-icon-bg: var(--beige);
	--seach-input-icon-bg-hover: var(--primary-color-600);

	display: flex;
	border: 2px solid var(--white);
	border-radius: 5px;
}

.headerbox-search-form input[type="search"] {
	width: 100%;
	height: 100%;
	margin: 0;
	text-indent: var(--space-1);
	font-family: var(--font-family-body);
	color: var(--white);
	background-color: transparent;
	padding: 9.5px;
}

.headerbox-search-form input[type="search"]::placeholder {
	font-size: 14px;
}

.headerbox-search-form button {
	width: 40px;
	padding: 0;
	margin: 0;
	flex-shrink: 0;
	background-color: var(--seach-input-icon-bg);
	border-radius: 5px;
}

.search-cont .search-button {
	display: none;
	background: transparent;
	color: var(--search-icon);
}

@media (min-width: 64em) {
	.search-cont {
		max-width: 417px;
	}
}
/*
     FILE ARCHIVED ON 00:57:49 Mar 08, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:41:49 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 71.352
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.072
  RedisCDXSource: 12.88
  esindex: 0.008
  LoadShardBlock: 38.946 (3)
  PetaboxLoader3.datanode: 57.444 (4)
  load_resource: 59.963
*/