/*
	README

	Modify this file as much or as little as needed.

	This file is shared across all CCL widgets in the Side-by-Side family. This enables the ability to
	a family of widgets in a single update without touching the structure of the widget and without needing
	to duplicate efforts across several widget-specific CSS files.
*/

.core-side-by-side {
	margin-bottom: var(--widget-margin-bottom);
	padding-top: var(--widget-padding-top);
}

.core-side-by-side .slide .slide-title {
	margin: 0;
	font-family: var(--font-title);
	font-size: var(--text-3xl);
	line-height: var(--leading-tight);
	color: var(--color-display);
}

.core-side-by-side .slide p {
	font-size: var(--text-base);
	line-height: var(--leading-tight);
}
/*
     FILE ARCHIVED ON 00:57:49 Mar 08, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:41:49 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 73.568
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.06
  RedisCDXSource: 0.513
  esindex: 0.007
  LoadShardBlock: 50.333 (3)
  PetaboxLoader3.datanode: 81.114 (4)
  load_resource: 72.441
  PetaboxLoader3.resolve: 36.333
*/