.navigation-footer {
	margin: 30px 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 8px 20px;
}

.navigation-footer a {
	color: inherit;
	font-size: 15px;
}

.navigation-footer a:hover {
	color: inherit;
}

/*
     FILE ARCHIVED ON 00:57:49 Mar 08, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:41:33 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 292.775
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.071
  RedisCDXSource: 0.67
  esindex: 0.009
  LoadShardBlock: 267.661 (3)
  PetaboxLoader3.datanode: 311.514 (4)
  load_resource: 79.332
  PetaboxLoader3.resolve: 29.845
*/