.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    list-style: none;
}

.social-links a {
    color: inherit;
}

/*
     FILE ARCHIVED ON 00:57:49 Mar 08, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:41:34 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 111.078
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.057
  cdx.remote: 0.051
  esindex: 0.009
  LoadShardBlock: 75.159 (3)
  PetaboxLoader3.datanode: 110.437 (4)
  load_resource: 202.559
  PetaboxLoader3.resolve: 134.017
*/