#test{
color:#000000;
}
/*
     FILE ARCHIVED ON 14:56:21 Feb 27, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:27:52 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 76.2
  exclusion.robots: 0.126
  exclusion.robots.policy: 0.112
  RedisCDXSource: 3.333
  esindex: 0.013
  LoadShardBlock: 44.468 (3)
  PetaboxLoader3.datanode: 60.613 (4)
  load_resource: 76.708
  PetaboxLoader3.resolve: 53.577
*/