#subHeader {
	clear:both;
	margin:0px auto 0pt;
	position:relative;
	overflow:hidden;
}

ul#subMenu {
	clear:both;
	height:20px;
	margin-left:187px;
}

ul#subMenu li{
	height:18px;
	float:left;
	list-style: none;
	padding: 3px;
	border-right:1px solid #dddddd;
}

#gMdsSubNav {
}




/*
     FILE ARCHIVED ON 04:22:03 Nov 02, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:27:52 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 138.544
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.059
  RedisCDXSource: 1.026
  esindex: 0.007
  LoadShardBlock: 120.348 (3)
  PetaboxLoader3.datanode: 150.099 (4)
  load_resource: 234.286
  PetaboxLoader3.resolve: 164.645
*/