
/*
     FILE ARCHIVED ON 15:29:47 Nov 14, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:27:52 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 167.266
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.071
  cdx.remote: 0.067
  esindex: 0.011
  LoadShardBlock: 121.54 (3)
  PetaboxLoader3.datanode: 147.86 (4)
  load_resource: 123.076
  PetaboxLoader3.resolve: 43.563
*/