body           { font-family: Verdana, Arial, Helvetica, sans-serif; background-color: #5d1115; margin-top: 8px; margin-bottom: 8px }
td.navi  { background-color: #d4c4bf }
p     { color: #420000; font-size: 12px }
a { color: #4169e1 }
a:hover { color: #696969 }
td   { color: #420000; font-size: 12px }
td.mainbox { border: solid 1pt #fff }
#id { }
a.footer { color: #fff }
a.footer:hover { color: #d3d3d3 }
.textarea  { background-color: #fbf8fd }

/*
     FILE ARCHIVED ON 00:17:51 Jun 24, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:19:22 Jul 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 417.759
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.061
  cdx.remote: 0.054
  esindex: 0.009
  LoadShardBlock: 356.148 (3)
  PetaboxLoader3.resolve: 300.203 (4)
  PetaboxLoader3.datanode: 72.394 (4)
  load_resource: 94.743
*/