div#header { background:transparent url(/web/20070901005012im_/http://www.chevrolet.com/i/06/bg/header-blue.png) top center repeat-y; }
div#container { background:transparent url(/web/20070901005012im_/http://www.chevrolet.com/i/06/bg/curvetop-blue.png) top center no-repeat; }

/* Mac IE Hack \*/
* html div#container { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/curvetop-blue.png',sizingMethod='crop'); }
* html div#header { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/header-blue.png',sizingMethod='scale'); }
/* end hack */
/*
     FILE ARCHIVED ON 00:50:12 Sep 01, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:52:32 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 123.033
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.075
  cdx.remote: 0.057
  esindex: 0.007
  LoadShardBlock: 92.399 (3)
  PetaboxLoader3.datanode: 120.479 (4)
  load_resource: 174.025
  PetaboxLoader3.resolve: 86.765
*/