#billboard, #billboard .description, #billboard .photo{float:left;background-color:#0C4F8A;}#billboard.layout-1, #billboard.layout-2{border-right:0;}#billboard .content h2{color:#fff;font:normal 16px/18px "Lucida Grande", "Lucida Sans Regular", "Lucida Sans Unicode", sans-serif;margin:0;}#billboard .content p, #billboard .content li{background:none;color:#fff;font:normal 12px/18px arial, sans-serif;}#billboard .content ul li p{margin:0;padding:0;height:368px;}#billboard .description, #billboard.layout-2 .description{height:auto;margin:0;padding:0;width:20.02%;overflow:hidden;position:relative;}#billboard .description h2, #billboard .description p, #billboard.layout-2 .description p, #billboard .description li, #billboard.layout-2 .description li{position:relative;margin:-1px 0 1px 10px;padding:8px 0;}#billboard .description h2{margin:10px 0 10px 10px;}#billboard .description img, #billboard.layout-2 .description img{margin:50px 0 0;padding:0;position:relative;text-align:center;}#billboard .description strong{display:block;font:bold 14px/18px arial, sans-serif;}#billboard .description a:link, #billboard .description a:visited, #billboard .description a:hover, #billboard .description a:active{color:#fff;text-decoration:none;}#billboard .description a:hover{text-decoration:underline;}#billboard .photo, #billboard.layout-2 .photo{height:auto;margin:0;width:79%;}#billboard .photo img{display:block;position:relative;top:0;left:0;}#billboard .description p, #billboard.layout-2 .description p, #billboard .description li, #billboard.layout-2 .description li{border-top:1px dashed #C9CDCB;padding:5px 0 0 0;}#billboard .description p, #billboard.layout-2 .description p.book-links, #billboard.layout-2 .description p.book-links{border-top:0;padding-top:0;}
/*
     FILE ARCHIVED ON 13:43:46 Aug 27, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:41:33 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 146.502
  exclusion.robots: 0.063
  exclusion.robots.policy: 0.056
  cdx.remote: 0.056
  esindex: 0.007
  LoadShardBlock: 55.343 (3)
  PetaboxLoader3.datanode: 74.305 (4)
  load_resource: 87.924
  PetaboxLoader3.resolve: 49.168
*/