/* $Id: farbtastic.css,v 1.3 2007/04/13 07:33:23 dries Exp $ */

.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(/web/20120422035724im_/http://www.visitpagosasprings.com/misc/farbtastic/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(/web/20120422035724im_/http://www.visitpagosasprings.com/misc/farbtastic/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(/web/20120422035724im_/http://www.visitpagosasprings.com/misc/farbtastic/marker.png) no-repeat;
}


/*
     FILE ARCHIVED ON 03:57:24 Apr 22, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:28:35 Jul 20, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 164.498
  exclusion.robots: 0.134
  exclusion.robots.policy: 0.119
  cdx.remote: 0.101
  esindex: 0.013
  LoadShardBlock: 124.585 (3)
  PetaboxLoader3.datanode: 125.03 (4)
  load_resource: 69.745
  PetaboxLoader3.resolve: 45.416
*/