div#header { background:transparent url(/web/20060627230209im_/http://www.chevrolet.com/i/06/bg/header-blue.png) top center repeat-y; }
div#container { background:transparent url(/web/20060627230209im_/http://www.chevrolet.com/i/06/bg/curvetop-blue.png) top center no-repeat; }

/* Mac IE Hack \*/
* html div#container { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/curvetop-blue.png',sizingMethod='crop'); }
* html div#header { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/06/bg/header-blue.png',sizingMethod='scale'); }
/* end hack */

div#logo a { position:relative; z-index:1; } /* workaround for IE link bug NM */
/*
     FILE ARCHIVED ON 23:02:09 Jun 27, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:37:57 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 108.875
  exclusion.robots: 0.104
  exclusion.robots.policy: 0.085
  cdx.remote: 0.081
  esindex: 0.011
  LoadShardBlock: 58.529 (3)
  PetaboxLoader3.datanode: 65.752 (4)
  load_resource: 62.867
  PetaboxLoader3.resolve: 23.858
*/