div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 22:37:07 Feb 08, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:07:23 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 187.567
  exclusion.robots: 0.061
  exclusion.robots.policy: 0.054
  cdx.remote: 0.048
  esindex: 0.008
  LoadShardBlock: 139.803 (3)
  PetaboxLoader3.datanode: 346.411 (5)
  load_resource: 1038.433 (2)
  PetaboxLoader3.resolve: 790.332 (2)
*/