/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web fonts:  http://webfonts.fonts.com
*/

/*
     FILE ARCHIVED ON 09:46:07 Sep 23, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:18:43 Jul 19, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 166.677
  exclusion.robots: 0.059
  exclusion.robots.policy: 0.053
  cdx.remote: 0.052
  esindex: 0.008
  LoadShardBlock: 80.709 (3)
  PetaboxLoader3.datanode: 81.614 (5)
  load_resource: 97.274 (2)
  PetaboxLoader3.resolve: 45.229 (2)
*/