@charset "utf-8";
/*!
 *	 Release:	6.08.0.21 Segments 1-4 Rev.1767
 *	 Date:		2016-08-10T22:19:19+02:00
 *	 Timestamp:	1470860359
 *	 Creator:	hudson_ci
 */


#cluetip{z-index:100 !important}

.modMh_1{height:551px;overflow:hidden;max-width:1280px}.withType2Scroller #container{max-width:none}.withType2Scroller .masthead > .mh_c1 > .modMh_1{max-width:none;width:100%}.withType2Scroller .masthead > .mh_c1 > .modMh_1 .mh_item_1{position:absolute}
.modMh_1{height:551px;overflow:hidden}.modMh_1 .mh_item_1{position:absolute}
.catwalk_c1{overflow:hidden}.catwalk .modMm_mos_1{overflow:visible;height:145px}
.modTs_img_2{margin:16px 6px auto}@media screen and (-webkit-min-device-pixel-ratio:0){.modTs_img_2{margin:16px 5px auto}}

/*
     FILE ARCHIVED ON 04:21:36 Aug 19, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:38:04 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 148.912
  exclusion.robots: 0.113
  exclusion.robots.policy: 0.098
  RedisCDXSource: 1.445
  esindex: 0.01
  LoadShardBlock: 116.567 (3)
  PetaboxLoader3.datanode: 87.85 (4)
  load_resource: 75.792
  PetaboxLoader3.resolve: 20.747
*/