#subHeader {
	clear:both;
	margin:0px auto 0pt;
	position:relative;
	overflow:hidden;
}
ul#subMenu li{
	float:left;
	list-style: none;
	background: url(/web/20110709041501im_/http://www.chevrolet.com/assets/en/images/global/navigation/pipe_sm.gif ) right top no-repeat;
	width:auto;
	padding: 6px 9px 6px 6px;
}

ul#subMenu li.tabActive {
	padding: 0px 0px 2px 0;
	margin: 6px 9px 6px 6px;
}

ul#subMenu li.list-title {
	position: absolute;
	left: 0px;
	z-index: -1;
	background: none; 
}
ul#subMenu li.last{ background: none; }
ul#subMenu li a,
ul#subMenu li a span {
	text-decoration:none;
	padding-bottom: 2px;
}




.Explorer6 ul#subMenu li {
 background: expression(this.nextSibling==null?'none':'');
}

ul#subMenu li h3 {

font-size:165%;
font-weight:bold;
left:-211px;
margin-left:11px;
margin-top:-4px;
position:relative;
}

/*
     FILE ARCHIVED ON 04:15:01 Jul 09, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:58:01 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 103.642
  exclusion.robots: 0.075
  exclusion.robots.policy: 0.065
  cdx.remote: 0.064
  esindex: 0.008
  LoadShardBlock: 72.315 (3)
  PetaboxLoader3.datanode: 91.368 (4)
  load_resource: 147.683
  PetaboxLoader3.resolve: 91.364
*/