sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 03:10:50 Oct 24, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:54:38 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 66.16
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.071
  RedisCDXSource: 0.531
  esindex: 0.008
  LoadShardBlock: 48.281 (3)
  PetaboxLoader3.datanode: 126.532 (4)
  load_resource: 161.328
  PetaboxLoader3.resolve: 43.886
*/