
div#pForm{
	margin-left: 3px;
}

div#pForm{
	font-size: 11px;
}

p.instruction{
	font-size: 11px; font-family: verdana; color:#363636;
}

div#vehicleContainer #vehicleImage{
		padding-top: 3px;
}

/*
     FILE ARCHIVED ON 06:17:15 Jul 09, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:23:32 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 61.672
  exclusion.robots: 0.071
  exclusion.robots.policy: 0.06
  cdx.remote: 0.055
  esindex: 0.009
  LoadShardBlock: 34.156 (3)
  PetaboxLoader3.datanode: 102.656 (5)
  load_resource: 199.707 (2)
  PetaboxLoader3.resolve: 71.159 (2)
*/