#subHeader {
	clear:both;
	margin:0px auto 0pt;
	position:relative;
	overflow:hidden;
}

ul#subMenu {
	clear:both;
	height:20px;
	margin-left:187px;
}

ul#subMenu li{
	height:18px;
	float:left;
	list-style: none;
	padding: 3px;
	border-right:1px solid #dddddd;
}

#gMdsSubNav {
}




/*
     FILE ARCHIVED ON 06:15:41 Jul 09, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:23:32 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 113.864
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.056
  cdx.remote: 0.052
  esindex: 0.008
  LoadShardBlock: 74.024 (3)
  PetaboxLoader3.datanode: 173.0 (5)
  load_resource: 298.258 (2)
  PetaboxLoader3.resolve: 174.716 (2)
*/