
/*
     FILE ARCHIVED ON 06:17:20 Jul 09, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:23:32 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 100.472
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.061
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 52.385 (3)
  PetaboxLoader3.datanode: 117.264 (5)
  load_resource: 644.081 (2)
  PetaboxLoader3.resolve: 543.562 (2)
*/