/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 16:55:59 Feb 08, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:52:14 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 126.253
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.078
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 96.462 (3)
  PetaboxLoader3.datanode: 96.557 (4)
  load_resource: 81.193
  PetaboxLoader3.resolve: 26.843
*/