span.ext{background:url(/web/20190814194620im_/https://www.arkansas.com/modules/contrib/extlink/extlink_s.png) 2px center no-repeat;width:10px;height:10px;padding-right:12px;text-decoration:none;}span.mailto{background:url(/web/20190814194620im_/https://www.arkansas.com/modules/contrib/extlink/extlink_s.png) -20px center no-repeat;width:10px;height:10px;padding-right:12px;text-decoration:none;}@media print{span.ext,span.mailto{display:none;padding:0;}}
.paragraph--unpublished{background-color:#fff4f4;}
.bef-exposed-form .form--inline .form-item{float:none;}.bef-exposed-form .form--inline > .form-item{float:left;}

/*
     FILE ARCHIVED ON 19:46:20 Aug 14, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:51:44 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 165.462
  exclusion.robots: 0.155
  exclusion.robots.policy: 0.144
  cdx.remote: 0.065
  esindex: 0.01
  LoadShardBlock: 104.025 (3)
  PetaboxLoader3.datanode: 99.424 (4)
  load_resource: 66.506
  PetaboxLoader3.resolve: 52.333
*/