sup {
  text-decoration: none;
  vertical-align: super;
  font-size: x-small;}

.menu {  
  color: 333366;
  font-size: 8pt;
  font-weight: 500;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
  
.disclaimer {
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}

.quote {
  font-size: 9pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;}
/*
     FILE ARCHIVED ON 14:19:25 Feb 15, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:26:56 May 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 118.48
  exclusion.robots: 0.071
  exclusion.robots.policy: 0.061
  RedisCDXSource: 0.801
  esindex: 0.006
  LoadShardBlock: 98.373 (3)
  PetaboxLoader3.datanode: 202.403 (4)
  load_resource: 205.164
  PetaboxLoader3.resolve: 67.009
*/