.whitespace 			{	line-height: 20px}

/*
     FILE ARCHIVED ON 04:41:34 Mar 22, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:41:01 Jul 12, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 194.586
  exclusion.robots: 0.163
  exclusion.robots.policy: 0.143
  cdx.remote: 0.114
  esindex: 0.014
  LoadShardBlock: 168.308 (3)
  PetaboxLoader3.datanode: 115.555 (4)
  load_resource: 93.033
  PetaboxLoader3.resolve: 31.842
*/