body { color: black; font-size: 12pt; font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal; font-style: normal; line-height: 14pt; text-align: left; }
.caption { font-size: 10pt; font-weight: bold; line-height: 12pt; text-align: center; }
.byline { color: black; font-size: 10pt; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; font-weight: 700; font-style: normal; line-height: 10pt; text-align: left; }
.body { color: black; font-size: 12pt; font-family: Georgia, "Times New Roman", Times, serif; font-weight: 400; font-style: normal; line-height: 14pt; text-align: left; }
p { }
td { }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.headline { color: black; font-size: 24pt; font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; font-weight: 700; font-style: normal; line-height: 26pt; text-align: left; }

/*
     FILE ARCHIVED ON 02:45:16 Jun 15, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:10:35 Jul 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 79.635
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.055
  RedisCDXSource: 0.541
  esindex: 0.009
  LoadShardBlock: 60.45 (3)
  PetaboxLoader3.datanode: 194.598 (4)
  load_resource: 236.595
  PetaboxLoader3.resolve: 55.731
*/