div.btn_lyr_1 {
	display: none;
}
/*
     FILE ARCHIVED ON 00:33:15 Sep 27, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:50:56 May 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 104.049
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.061
  cdx.remote: 0.055
  esindex: 0.008
  LoadShardBlock: 57.487 (3)
  PetaboxLoader3.datanode: 80.011 (7)
  load_resource: 139.492 (2)
  PetaboxLoader3.resolve: 85.839 (2)
*/