/*CSS file not being used in the site, we have just high speed version of top nav*/
/*
     FILE ARCHIVED ON 00:03:03 Aug 21, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:44:25 Apr 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 103.736
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.071
  cdx.remote: 0.068
  esindex: 0.013
  LoadShardBlock: 46.803 (3)
  PetaboxLoader3.datanode: 79.723 (4)
  load_resource: 131.469
  PetaboxLoader3.resolve: 79.238
*/