body { border-style: none;
    font-family: Times New Roman,Times,serif;
    font-size: large;
    color: rgb(0, 0, 100);
    font-weight: bold;
    background-position: center;
    background-image: url(/web/20061221004832im_/http://www.pagosachoir.org/16.gif);
    }
/*
     FILE ARCHIVED ON 00:48:32 Dec 21, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:25:12 Jul 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 561.662
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.059
  cdx.remote: 0.061
  esindex: 0.01
  LoadShardBlock: 515.176 (3)
  PetaboxLoader3.datanode: 447.891 (4)
  load_resource: 79.919
  PetaboxLoader3.resolve: 41.653
*/